<!--{include manage_header}-->

<div id="bdw" class="bdw">
  <div id="bd" class="cf">
    <div id="coupons">
      <div class="subdashboard" id="dashboard">
		<ul>${mcurrent_order('office')}
        </ul>
      </div>
      <div id="content" class="coupons-box clear mainwide">
        <div class="box clear">
          <div class="subbox-top"><div class="subhead">
              <h2>Đơn hàng nhận tại văn phòng</h2>
              <ul class="filter">${current_manageorder_confirm('office', 0)}</ul>
            </div></div>
          <div class="box-content">
              <form method="get" id="target">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="filter-table">
                  <tr>
                    <td align="left" colspan="2" style="padding-top:3px; padding-left:3px;"><p>Số HĐ<input type="text" name="id" value="{$id}" class="h-input"/>&nbsp;&nbsp;Số Deal<input type="text" name="team_id" class="h-input number" value="{$team_id}" />&nbsp;&nbsp;User<input type="text" name="uemail" class="h-input" value="${htmlspecialchars($uemail)}" />&nbsp;&nbsp;ĐTDĐ<input type="text" class="h-input" name="mobile" value="{$mobile}" />&nbsp;&nbsp;TP
                        <select name="city_id" class="h-input" require="true" onchange="$('#target').submit();">
                          <option value='0'>--Chon--</option>
                          ${Utility::Option(Utility::OptionArray($allcities,'id','name'),$city_id)}
                        </select>
                      </p>
                     </td><td align="left" valign="top" style="padding-top:5px; padding-bottom:10px;"><input type="submit" value="Lọc dữ liệu" class="formbutton"  style="padding:3px 6px;"/></td></tr>
                </table>
              </form>
            <script language="javascript">
				function checkForm()
				{					
					if(document.getElementById('shipper_id').value==0){
						alert('Vui lòng chọn nhân viên giao hàng!');
						return false;
					}
					ischecked = false;
					for(i=1;i<document.f_delivery.orderid.length;i++){
						obj=document.getElementById(document.f_delivery.orderid[i].value);
						if(obj.checked==true){
							ischecked=true;
							break;
						}
					}		
					if(!ischecked){
						alert("Select one or more items...");
						return false;
					}
					if(!confirm('Are you want delivery??')){			
						return false;
					}
					return true;
				}
				</script>
            <div class="sect">
              <form id="fde" name="f_delivery" method="post" action="./office.php" onsubmit="return checkForm()" target="_blank">
                <input type="hidden" name="team_id" value="{$team_id}" >
                <input type="hidden" name="ward_id" value="{$list_ward_id}" >
                <input type="hidden" name="dist_id" value="{$list_dist_id}" >
                <input type="hidden" name="city_id" value="{$city_id}" >
                <input type="hidden" name="id" value="{$id}" >
                <input type="hidden" name="uemail" value="{$uemail}" >
                <input type="hidden" name="orderid[0]" id="orderid" value="nothing">
                <div style="margin:10px;padding:10px;background:#FFFFCC; width:100%; padding-right:0px; padding-left:5px;"> Chọn đơn hàng cần bàn giao, rồi chọn NV giao hàng :
                  <select name="shipper_id" id="shipper_id" class="h-input" require="true">
                    <option value='0'>--Chon--</option>
                    ${Utility::Option(Utility::OptionArray($shippers,'id','shipper_name'),$shipper_id)}
                  </select>
                  &nbsp;
                  <input type="submit" value="Bàn giao" class="formbutton" name="delivery" style="padding:3px 6px;" />
                  &nbsp;
                  <i>Nhân viên giao hàng chưa quyết toán sẽ không có tên trong danh sách</i>
                </div>
                <table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
                  <tr>
                    <th width="20">&nbsp;&nbsp;
                      <input type="checkbox" name="checkall" id="checkall" onclick="jqCheckAll( this.id, 'myinput' )" /></th>
                    <th width="400">Deal</th>
                    <th width="340">User</th>
                    <th width="20" nowrap>Q.ty</th>
                    <th width="60" nowrap>Total (<span class="money">{$currency}</span>)</th>
                   <th width="60" nowrap>Unpaid (<span class="money">{$currency}</span>)</th>
                    <th width="100" nowrap>Task</th>
                  </tr>
                  <!--{loop $orders $index $one}-->
                  <tr ${$index%2?'':'class="alt"'} id="order-list-id-{$one['id']}">
                    <td align="center"><input type="hidden" name="orderid[]" id="orderid" value="{$one['id']}">
                      <input name="myinput[]" id="{$one['id']}" value="{$one['id']}" type="checkbox">
                      {$one['id']}</td>
                    <td>{$one['team_id']}&nbsp;(<a class="deal-title" href="/team.php?id={$one['team_id']}" target="_blank">{$teams[$one['team_id']]['title']}</a>)</td>
                    <td><a href="/ajax/manage.php?action=userview&id={$one['user_id']}" class="ajaxlink">{$one['realname']}<br />
                      {$one['mobile']}</a><br/>
                      <b style="color:#FA6D18">
                      <!--${if ($one['note_address']!=''){$note_address = $one['note_address'].", ";}else{$note_address="";}}-->
                      {$note_address}{$one['address']},
                      <!--{if wardname($one['dist_id'],$one['ward_id'])}-->
                      <!--${$wardname = wardname($one['dist_id'],$one['ward_id'])}-->
                      {$wardname['ward_name']},
                      <!--{/if}-->
                      <!--{if ename_dist($one['dist_id'])}-->
                      <!--${$dists = ename_dist($one['dist_id'])}-->
                      {$dists['dist_name']}
                      <!--{/if}-->
                      </b>&nbsp;
                      <!--${
                            	$list = check_address_list($one['dist_id'], $one['ward_id'], $one['address']);
                                if($list['id']>0){
                                	$img="<img src=\"/static/css/images/tick.png\" alt=\"Địa chỉ đã được duyệt\" align=\"absmiddle\" />";
                                 }else{$img="<img src=\"/static/css/images/no.png\" alt=\"Địa chỉ chưa duyệt\" />";}}-->
                      {$img}<br />
                      <!--{if Utility::IsMobile($users[$one['user_id']]['mobile'])}-->
                      &nbsp;&raquo;&nbsp;<a href="/ajax/misc.php?action=sms&v={$users[$one['user_id']]['mobile']}" class="ajaxlink">SMS</a>
                      <!--{/if}--></td>
                    <td>{$one['quantity']}</td>
                    <td align="right"><strong>${print_price(moneyit($one['origin']))}</strong></td>
                    <!--<td align="right">${print_price(moneyit($one['money']))}</td>-->
					<td align="right">${print_price(moneyit($one['origin']-$one['money']))}</td>
                    <!--<td>{$option_service[$one['service']]}</td>-->
                    <td class="op"><a href="/ajax/manage.php?action=orderedit&id={$one['id']}" class="ajaxlink">Edit</a> | <a href="/ajax/manage.php?action=orderview&id={$one['id']}" class="ajaxlink">Detail</a> | <a href="/ajax/manage.php?action=orderconfirm&id={$one['id']}" class="ajaxlink">Confirm</a> | <a href="/ajax/manage.php?action=ordercancel&id={$one['id']}" class="ajaxlink">Cancel</a> | <a href="/ajax/manage.php?action=orderhanging&id={$one['id']}" class="ajaxlink">Tạm hoãn</a></td>
                  </tr>
                  <!--{/loop}-->
                  <tr>
                    <td colspan="9" align="right"><strong>{$total_voucher} voucher</strong></td>
                  </tr>
                  <tr>
                    <td colspan="9">{$pagestring}
                  </tr>
                </table>
              </form>
            </div>
          </div>
          <div class="box-bottom"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- bd end -->
</div>
<!-- bdw end -->
<!--{include manage_footer}-->