<form id="fstep3" action="http://thietkeachau.com/cheapdeal/ajax/checkout.php" method="post" class="validator">
<table width="100%" border="0" cellspacing="4" cellpadding="0">
    <tbody><tr>
      <td align="left" valign="top" style="font-size:14px; padding-top:10px; font-family:Arial, Helvetica, sans-serif; color:#C40000; text-transform:uppercase"><h4>Phương thức thanh toán</h4></td>
      <td width="4%"></td>
      <td align="left" valign="top" style="font-size:14px; padding-top:10px; font-family:Arial, Helvetica, sans-serif; color:#C40000; text-transform:uppercase"><h4>Phương thức vận chuyển</h4></td>
    </tr>
    <tr>
      <td style="background: url(&quot;/static/css/images/faqbox_break.gif&quot;) repeat-x scroll 0% 0% transparent;" height="4"></td>
      <td width="4%"></td>
      <td style="background: url(&quot;/static/css/images/faqbox_break.gif&quot;) repeat-x scroll 0% 0% transparent;" height="4"></td>
    </tr>
    <tr>
      <td align="left" valign="top" style="padding-left:10px; padding-top:7px;" width="49%"><table cellspacing="5" cellpadding="5">
          <tbody><tr><td align="right" valign="top"><input type="radio" name="methods[payment]" id="payment" value="1" checked="checked"></td><td align="left" valign="top" class="text_bold" style="padding-left:3px">Thanh toán bằng tiền mặt</td></tr><tr><td></td><td align="left" valign="top" style="color:#666; padding-left:5px;padding-bottom:10px;font-size:80%">Nhân viên CheapDeal sẽ thu tiền trực tiếp.
ĐT hỗ trợ: 08 73051290</td></tr>        </tbody></table></td>
      <td width="4%"></td>
      <td align="left" valign="top" style="padding-left:10px; padding-top:7px;" width="49%"><table cellspacing="5" cellpadding="5">
          <tbody><tr><td align="right" valign="top"><input type="radio" name="methods[shipping]" id="shipping" value="1" checked="checked"></td><td align="left" valign="top" class="text_bold" style="padding-left:3px">Giao hàng tận nơi nội thành HCM</td></tr><tr><td></td><td align="left" valign="top" style="color:#666; padding-left:5px;padding-bottom:10px;font-size:80%">Từ 3 - 5 ngày làm việc</td></tr><tr><td align="right" valign="top"><input type="radio" name="methods[shipping]" id="shipping" value="3"></td><td align="left" valign="top" class="text_bold" style="padding-left:3px">Nhận tại văn phòng CheapDeal</td></tr><tr><td></td><td align="left" valign="top" style="color:#666; padding-left:5px;padding-bottom:10px;font-size:80%">Trong giờ làm việc từ 8h sáng đến 5h chiều</td></tr>        </tbody></table></td>
    </tr>
  </tbody></table>
<input id="btn_paymentnextstep3" type="button" value="Lưu và tiếp tục" class="formbutton">
 <input type="hidden" name="atact" value="paymenttransfer" />
</form>
<script type="text/javascript">

jQuery('#btn_paymentnextstep3').bind('click', function () {
	jQuery('#fstep3').ajaxSubmit({
		'dataType':'json',
		'success': function (ret) {
			if(ret['error']==0){
				jQuery('#responserst3content').html(ret['html']);
				jQuery('.order_step3').removeClass('content_active').removeClass('content_hide');
			//	jQuery('.order_step4').addClass('content_active').removeClass('content_hide');
				$.get('http://thietkeachau.com/cheapdeal/ajax/checkout.php?getdatastep=finish', function(data) { 		
					$('#responser_content_step4').html(data);
					jQuery('.order_step4').addClass('content_active').removeClass('content_hide');
					
				});	
			}
		}
	});			
	return false;
	});
</script>