<div id="atboxmenu">
	<div class="atmenu-title">
    	<i class="icon icon-menu"></i>
        <span>Ngành hàng</span>
    </div>
    <div class="atboxmenulist">
    	<ul class="atlistmenu">
        	<?php  echo at_current_top(); ?>
          <?php   /*   <li><a href="#"><i class="icon icon-thoitrang"></i> Thời trang</a></li>
            <li><a href="#"><i class="icon icon-phukien"></i> Phụ kiện thời trang</a></li>
            <li><a href="#"><i class="icon icon-nhahang"></i> Nhà hàng - Ẩm thực</a></li>
            <li><a href="#"><i class="icon icon-suckhoe"></i> Sực khỏe - Làm đẹp</a></li>
            <li><a href="#"><i class="icon icon-dulich"></i> Du khách - Khách sạn</a></li>
            <li><a href="#"><i class="icon icon-giaitri"></i> Giải trí - Đào tạo</a></li>
            <li><a href="#"><i class="icon icon-giadung"></i> Gia dụng - Nội thất</a></li>
            <li><a href="#"><i class="icon icon-congnghe"></i> Điện tử - Công nghệ</a></li>
            <li><a href="#"><i class="icon icon-mebe"></i> Mẹ và bé</a></li>  */ ?>
            
        </ul>
    </div>
</div>