<div class="sbox">
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="side-tip">
			<h3 class="first">Tôi đã trả tiền nhưng chưa nhận được phiếu {$INI['system']['abbreviation']}?<!--I have paid but have not get {$INI['system']['couponname']}？--></h3>
			<p>Deal không đạt được số người yêu cầu tối thiểu. Bạn sẽ nhận được phiếu {$INI['system']['abbreviation']} khi đủ số người<!--The deal has not reached it's minumum limit. You will see {$INI['system']['couponname']} when it is tipped.--> </p>
			<h3>Thế nào gọi là đơn hàng đã hết hạn?<!--What is expired order?--> </h3>
			<p>Đơn đặt hàng không được thanh toán trước khi thời gian mua deal kết thúc, đơn hàng sẽ hết hạn.<!--If you do not make any payment before the deal is over, the order will be expired-->. </p>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
