<div class="sbox side-invite-tip">

	<div class="sbox-top"></div>
	<div class="sbox-content">
	<div style="text-align:center">
	<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="http://www.hotdeal.vn" layout="box_count" action="recommend"></fb:like></div>
		<div class="tip">
			<h2>Mời bạn bè<!--Invite and get rebate--> </h2>
			<p class="text">Mời bạn bè và nhận  <strong><span class="money">${print_price(abs(intval($INI['system']['invitecredit'])))} {$currency}</span></strong> giảm giá<!--Invite your friend and get <strong><span class="money">{$currency}</span>${abs(intval($INI['system']['invitecredit']))}</strong>{$currency} rebate.--></p>
		  <p class="link"><a href="/account/invite.php">&raquo;&nbsp;<!--Click here to get the invitation link exclusive for you.-->Bấm vào đây để lấy link</a></p>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
