<div class="sbox side-Business-tip">
	<div class="sbox-bubble"></div>
	<div class="sbox-top"><h2>Hợp tác kinh doanh</h2></div>
	<div class="sbox-content">
		<div class="tip">
		   <p class="text">Cơ hội bán hàng và quảng bá thương hiệu cùng {$INI['system']['sitename']}!
           <br />
           <a href="/feedback/seller.php" style="text-decoration:none"><strong>&raquo;&nbsp;Liên hệ</strong><!--Contact--></a>           
           <br /></p>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
