<div class="deal-subscribe">
	<div class="top"></div>
	<div class="body" id="deal-subscribe-body">
		<form id="deal-subscribe-form" method="post" action="/subscribe.php"><table class="address"><tr><td><input type="text" name="email" class="f-text" id="deal-subscribe-form-email" xtip="Nhập địa chỉ Email..." value="" /></td><td><input type="hidden" name="city_id" value="{$city['id']}" /><input type="image" src="/static/css/images/button-subscribe.gif" value="Subscribe" /></td></tr></table></form>
		<p class="text">Mỗi ngày một deal mới! Chúng tôi sẽ thông báo với bạn qua email!<!--Email subscription will reach you as soon as possible.<br />Tomorrow you will see a new surprise among our deals.--><br /> <span class="required">*</span> Bạn có thể hủy dịch vụ này bất cứ lúc nào<!--You may cancel the subscription at any time.--> </p>
	</div>
	<div class="bottom"></div>
</div>