<div align="left" style="background:#fff; width:230px;">
  <div class="leftFacebook">
    <div class="rightFacebook" align="center"> <img src="static/css/i/facebook.jpg" /> </div>
  </div>
  <iframe src="{$facebook_domain}/plugins/likebox.php?href={$facebook_page}&amp;width=230&amp;colorscheme=light&amp;connections=6&amp;stream=true&amp;header=false&amp;height=555" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:230px; height:555px;" allowTransparency="true"></iframe>
</div>
