<div class="sbox side-Business-tip">
	<div class="sbox-bubble"></div>
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="tip">
		   <h2>Widget</h2>
			
             <p style="font-size:90%">Công cụ tạo Widget để quảng cáo nội dung trên Website, Forum, Blogs...Bạn sẽ kiếm được tiền thưởng trên mỗi lượt nhấn quảng cáo và mua hàng của Hotdeal.</p>
              
               <p style="font-size:90%">Hãy đăng ký 1 tài khoản để bắt đầu kiếm tiền từ HotDeal Widget!</p>
               
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
