<div class="sbox">
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="side-tip">
			<h3 class="first">Tài khoản tín dụng là gì?</h3>
			<p>Tài khoản tín dụng là một phần của số dư bạn có thể sử dụng để mua deal trên {$INI['system']['sitename']}.</p>
			<h3>Tôi có thể nạp vào tài khoản của tôi? </h3>
			<p>You may go to the <a href="/credit/index.php"> balance </a>manu，and top up online. </p>
			<h3>Làm thế nào tôi có thể nhận được các khoản tín dụng?</h3>
			<p>Mời bạn bè của bạn hoặc mua deal, bạn sẽ nhận được khoản tín dụng.</p>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
