<div class="sbox">
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="side-tip referrals-side">
			<h3 class="first">What does it mean by "different state"?</h3>
			<ul class="invalid">
				<li>Yet to buy: You've invited your friend to get registered, but she/he hasn't bought any deals.</li>
				<li>Rebated: congratulations, you've got your rebate</li>
				<li>To be rebated: your friend has bought a deal, and you'll get the rebate in 24 hours, please wait.</li>
				<li>Rejected: invitation is invalid because the mobile number has already been registered or other reasons. </li>

				<li>Expired: your friend hasn't bought a deal within 7 days, and your invitation expired.</li>
			</ul>
			<h3>Can I get rebate by inviting myself?</h3>
			<p>No. We would examine the invitation carefully. If you cheat in inviting, your invitation would be rejected and you won't get rebate.</p>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
