<!--${
$others_side_ns = 3;
$others_team_id = abs(intval($team['id']));
$others_city_id = abs(intval($city['id']));
if ( abs(intval($INI['system']['sideteam'])) ) {
	$oc = array( 
    'city_id' => array($others_city_id, 0), 
    'team_type' => 'normal',
    "id <> '$others_team_id'",
    "begin_time < UNIX_TIMESTAMP()",
    "end_time > UNIX_TIMESTAMP()",
    "((max_number>0 and now_number<max_number) OR (max_number=0))",
    );
    $ckey = 'recent';	
	$others = DB::LimitQuery('team', array(
        'condition' => $oc,
        'order' => 'ORDER BY `sort_order` DESC, `id` DESC',
        'size' => $others_side_ns,
        ));
}
}-->
<!--{if $others}-->
<div class="sbox"><div class="sbox-top"><h2>Dealsoc trong ngày</h2></div>
	<div class="sbox-content">
   	<table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td bgcolor="#ffffff" align="left" valign="top">
             
              	 <!--${$index=0}-->
                <!--{loop $others $one}-->
                    <!--${
                        $index+=1;
                        if($index<count($others)){
                            $line = "<div><hr size='1' width='99%' style='color:#1e94c4' /></div>";
                            $padding_bottom = "0px";
                        }else{
                            $line = "";
                            $padding_bottom = "0px";
                        }
                        $team_cat = Table::Fetch('category', $one['group_id']);
                        //$team_partner = Table::Fetch('partner', $one['partner_id']);                       
                    }-->
                    
                <div style="cursor:pointer" onclick="window.location='/{$city['slug']}/${seo_url($one['short_title'],$one['id'],$url_suffix)}'">
                    <div style="color:#FFFFFF; cursor:pointer" class="aListBPLine">
                      <h3><a href="/{$city['slug']}/${seo_url($one['short_title'],$one['id'],$url_suffix)}" style="color:#000000; font-size:13px;">{$one['short_title']} - phiếu giảm giá {$team_cat['name']}</a></h3>
                      <div class='dInfoBRNew'><!--{if $one['image']}--><a href="/{$city['slug']}/${seo_url($one['short_title'],$one['id'],$url_suffix)}" style="color:#000000; font-size:13px;"><img src="${team_image($one['image'], true)}" border="0" alt="{$one['short_title']}" width="225" height="168" /></a><!--{/if}--></div>
                      	<div class='dSOListBRN'>
                        	<div class='div_TietKiem'><strong class='styleText14'>Giảm</strong><br/>
                          	<strong class='styleText15'>${ceil(team_discount($one))}<sub>%</sub></strong></div>
                      	</div>
                      	<div class='PriceDealBRL'>
                        	<div class='divPrice'><span class='styleText17'>Giá trị: <span class='StyleTextGT lineHorizontal styleText13' style="text-decoration:line-through">${print_price(moneyit($one['market_price']))} {$currency}</span></span></div>
                        	<div class='div_infoMoney'><span class='styleText17'>Còn Lại: <span class='styleText5'>${print_price(moneyit($one['team_price']))}&nbsp;{$currency}</span></span></div>
                    	</div>
                	</div>                   
                </div>
                   
                <!--{/loop}-->
                </td>
            </tr>
          </tbody>
        </table>
      </div>
	<div class="sbox-bottom"></div>
</div><!--{/if}-->