<div class="sbox side-support-tip" style="height:240px;">
    <!--<div align="left" style="padding-left:100px; padding-top:110px; height:25px; padding-right:15px;" id="yahoobtn">Hỗ trợ Dealsoc</div>  -->
    <div align="left" style="height:45px; padding-right:15px;" id="livechat"> 
      <!-- BEGIN Comm100 Live Chat Button Code -->
      <link href="http://chatserver.comm100.com/css/comm100_livechatbutton.css" rel="stylesheet" type="text/css" />
      <div id="comm100_ChatButton">
        <div id="comm100_warp">
          <center>
          <div id="comm100_dvhelp"><a class="comm100_ahelp_css" href="http://www.comm100.com/livechat/" onclick="comm100_Chat();return false;" target="_blank" title="Dealsoc Live Chat"><img id="comm100_ButtonImage" src="http://chatserver.comm100.com/BBS.aspx?siteId=109389&amp;planId=1602&amp;partnerId=-1" style="border:0px" alt="Live Chat Software for Website" /></a><script src="http://chatserver.comm100.com/js/LiveChat.js?siteId=109389&amp;planId=1602&amp;partnerId=-1" type="text/javascript"></script>
            <div id="comm100_track"></div>
            <div id="comm100_dvbox" class="comm100_dvbox_css" style="display:none;" onmouseover="this.style.display=''" onmouseout="this.style.display='none'">
              <div class="comm100_dvcontent_css">
                <p class="comm100_ptitle_css"><b><a href="http://www.comm100.com/" target="_blank" class="comm100_atitle_css" >Comm100</a> Products:</b></p>
                <ul class="comm100_ulbox_css">
                  <li style="display:none;" class="comm100_onelinone">&nbsp;</li>
                  <li><a href="http://www.comm100.com/" target="_blank">Customer Service Software</a></li>
                  <li><a href="http://www.comm100.com/livechat/" target="_blank" >Dealsoc - Live Chat</a></li>
                  <li><a href="http://www.comm100.com/emailmarketingnewsletter/" target="_blank">Email Marketing Software</a></li>
                  <li><a href="http://www.comm100.com/livehelp/" target="_blank">Live Help</a></li>
                  <li><a href="http://www.comm100.com/emailmarketingnewsletter/" target="_blank">Email Marketing</a></li>
                  <li><a href="http://www.comm100.com/livesupport/" target="_blank">Live Support</a></li>
                </ul>
              </div>
            </div>
          </div>
          </center>
        </div>
        <!-- End Comm100 Live Chat Button Code --> 
      </div>
    </div>
    
    <div align="center" style="padding-bottom:7px;padding-top:30px; clear:both">
	<a href="http://www.dealsoc.vn/thong-bao.html" target="_blank"><img src="/static/img/thongbao.jpg" border="0" width="254" height="177" /></a></div>
    <!--{if $request_uri=='index'}--></div><!--{/if}-->