<div id="deal-share">
  <div class="deal-share-top">
    <div class="deal-share-links"> 
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style">
      <a href="http://www.addthis.com/bookmark.php?v=250&amp;username=hotdeal" class="addthis_button_compact">Share</a>
      <span class="addthis_separator">|</span><a class="addthis_button_preferred_1"></a>
      <a class="addthis_button_preferred_2"></a><a class="addthis_button_preferred_3"></a>
      <a class="addthis_button_preferred_4"></a></div>
      <!-- AddThis Button END --> 
    </div>
  </div>
  <div class="deal-share-fix"></div>
  <div align="right" style="float:left; width:450px; color:#FFF;">
    <table>
      <tr>
        <td style="padding-top:10px;" valign="top"><strong>Google Plus:</strong></td>
        <td style="padding-left:10px; padding-top:5px;">
          <g:plusone></g:plusone></td>
      </tr>
    </table>
  </div>
  <div id="deal-share-im-c">
    <div class="deal-share-im-b">
      <h3>Copy nội dung dưới đây và gửi cho bạn bè của bạn trên Chat hoặc Email:<!--Copy the following content and send it to your friends on Chat:--></h3>
      <p>
        <input id="share-copy-text" type="text" value="{$INI['system']['wwwprefix']}/team.php?id={$team['id']}&r={$login_user_id}" size="30" class="f-input" tip="copy done, please send it on Chat to your friends."/>
        <input id="share-copy-button" type="button" value="copy" class="formbutton" />
      </p>
    </div>
  </div>
</div>
