<div class="sbox side-vote-tip">
	<div class="sbox-top"></div>
	<div class="sbox-content">
		<div class="tip">
			<h2>Mini survey</h2>
			<div class="text">
				<p class="mark"><a href="/vote/index.php"><!--What do you want to Buy the most?-->Những gì bạn muốn mua nhiều nhất?</a></p>
				<p><!--Tell {$INI['system']['abbreviation']}, &amp; we will provide you better deals and services！-->Nói với {$INI['system']['abbreviation']}, chúng tôi sẽ cung cấp deal và dịch vụ tốt hơn cho bạn </p>
			</div>
			<p class="link"><a href="/vote/index.php"><input type="button" value="Vote" /></a></p>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>

