</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24987908-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<!--{if !$pagetitle || $request_uri=='index' || strpos($_SERVER['REQUEST_URI'],'/team.php?id=')!==false}-->
<script type="text/javascript">
    window.onload = loadFace;
    function loadFace() {
		(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/vi_VN/all.js#xfbml=1";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
    }
</script>

<!--{/if}-->


<!--<script type="text/javascript" language="javascript">
$(document).ready(function(){
	$("#yahoobtn").html('<a href="ymsgr:sendim?help_dealsoc"><img async="true" border="0" src="http://opi.yahoo.com/online?u=help_dealsoc&m=g&t=2" width="125" height="25"></a>');
});
</script>-->



</body>
</html>
