<?php include template("header");?>
<div id="bdw" class="bdw">


	 <tbody><tr>
                      <td style="background-color: #ffffff;padding-left:10px; padding-top:5px;" align="left" bgcolor="#FFFFFF" valign="top">
					  <table border="0" cellpadding="0" cellspacing="0">
                                                    <tbody><tr>                          	<td style="padding: 3px 0px; width: 244px; padding-right: 11px; padding-bottom:8px" align="left" valign="top">
                                <table style="background-color: #ebebeb; box-shadow: 1px 2px 3px 0px #cccccc;  -moz-box-shadow: 1px 2px 3px 0px #cccccc; -webkit-box-shadow: 1px 2px 3px 0px #cccccc; " bgcolor="#ebebeb" border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody><tr>
                            <td style="padding: 7px 7px 7px 7px; border: 1px solid #cccccc;" align="left" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0">
                                  <tbody><tr>
                                    <td align="left" valign="top"><a href="http://www.cheapdeal.vn/dung-cu-xoay-eo-178.html?utm_campaign=dung-cu-xoay-eo-178&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" style="font-family: Arial; color: #0792bd; text-decoration: none; font-size:15px; vertical-align:middle; font-weight:bold" target="_blank">Dụng cụ xoay eo</a></td>
                                  </tr>
                                  <tr>
                                    <td style="padding:3px; background-color:#FFFFFF" align="left" bgcolor="#FFFFFF" valign="top"><a href="http://www.cheapdeal.vn/dung-cu-xoay-eo-178.html?utm_campaign=dung-cu-xoay-eo-178&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" style="font-family: Arial;font-size:12px; color: #fff; text-decoration: none;" target="_blank"><img src="http://cheapdeal.vn/static/team/2012/CheapDeal/13382811783065.jpg" border="1" height="265" width="220"></a></td>
                                  </tr>
                                  <tr>
                                    <td style="padding-top:5px;" align="left" valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody><tr>
                                        <td colspan="2" align="center" valign="middle"><span style="font-weight:bold;color:#c40000; font-family:Arial; font-size:135%; white-space:nowrap" align="center">67.000</span> <sup style="font-size:70%; font-family:Arial">VNĐ</sup></td><td rowspan="2" align="right">
                                        <div><a href="http://www.cheapdeal.vn/dung-cu-xoay-eo-178.html?utm_campaign=dung-cu-xoay-eo-178&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" target="_blank"><img alt="Xem deal" src="http://cheapdeal.vn/static/css/images/xem.png" style="font-family: Arial; color: #0792bd; text-decoration: none;" border="0" height="22px" width="60px"></a></div></td></tr><tr>
                                        <td style="padding-right:10px" align="center" valign="top"><div align="center"><span style="font-size:90%; font-family:Arial;font-weight:bold; text-decoration:line-through">130.000</span> <sup style="font-size:50%; font-family:Arial">VNĐ</sup></div></td></tr>
                                    </tbody></table></td>
                                  </tr>
                                </tbody></table>
                                </td></tr></tbody></table>
                      		</td>                                                                          	<td style="padding: 3px 0px; width: 244px; padding-right: 11px; padding-bottom:8px" align="left" valign="top">
                                <table style="background-color: #ebebeb; box-shadow: 1px 2px 3px 0px #cccccc;  -moz-box-shadow: 1px 2px 3px 0px #cccccc; -webkit-box-shadow: 1px 2px 3px 0px #cccccc; " bgcolor="#ebebeb" border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody><tr>
                            <td style="padding: 7px 7px 7px 7px; border: 1px solid #cccccc;" align="left" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0">
                                  <tbody><tr>
                                    <td align="left" valign="top"><a href="http://www.cheapdeal.vn/ao-so-mi-ren-tay-phong-1315.html?utm_campaign=ao-so-mi-ren-tay-phong-1315&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" style="font-family: Arial; color: #0792bd; text-decoration: none; font-size:15px; vertical-align:middle; font-weight:bold" target="_blank">Áo sơ mi ren tay phồng</a></td>
                                  </tr>
                                  <tr>
                                    <td style="padding:3px; background-color:#FFFFFF" align="left" bgcolor="#FFFFFF" valign="top"><a href="http://www.cheapdeal.vn/ao-so-mi-ren-tay-phong-1315.html?utm_campaign=ao-so-mi-ren-tay-phong-1315&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" style="font-family: Arial;font-size:12px; color: #fff; text-decoration: none;" target="_blank"><img src="http://cheapdeal.vn/static/team/2013/CheapDeal/13647821718257.jpg" border="1" height="265" width="220"></a></td>
                                  </tr>
                                  <tr>
                                    <td style="padding-top:5px;" align="left" valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody><tr>
                                        <td colspan="2" align="center" valign="middle"><span style="font-weight:bold;color:#c40000; font-family:Arial; font-size:135%; white-space:nowrap" align="center">110.000</span> <sup style="font-size:70%; font-family:Arial">VNĐ</sup></td><td rowspan="2" align="right">
                                        <div><a href="http://www.cheapdeal.vn/ao-so-mi-ren-tay-phong-1315.html?utm_campaign=ao-so-mi-ren-tay-phong-1315&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" target="_blank"><img alt="Xem deal" src="http://cheapdeal.vn/static/css/images/xem.png" style="font-family: Arial; color: #0792bd; text-decoration: none;" border="0" height="22px" width="60px"></a></div></td></tr><tr>
                                        <td style="padding-right:10px" align="center" valign="top"><div align="center"><span style="font-size:90%; font-family:Arial;font-weight:bold; text-decoration:line-through">200.000</span> <sup style="font-size:50%; font-family:Arial">VNĐ</sup></div></td></tr>
                                    </tbody></table></td>
                                  </tr>
                                </tbody></table>
                                </td></tr></tbody></table>
                      		</td>                                                                          	<td style="padding: 3px 0px; width: 244px; padding-right: 11px; padding-bottom:8px" align="left" valign="top">
                                <table style="background-color: #ebebeb; box-shadow: 1px 2px 3px 0px #cccccc;  -moz-box-shadow: 1px 2px 3px 0px #cccccc; -webkit-box-shadow: 1px 2px 3px 0px #cccccc; " bgcolor="#ebebeb" border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody><tr>
                            <td style="padding: 7px 7px 7px 7px; border: 1px solid #cccccc;" align="left" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0">
                                  <tbody><tr>
                                    <td align="left" valign="top"><a href="http://www.cheapdeal.vn/non-bao-hiem-vespa-new-2013-1128.html?utm_campaign=non-bao-hiem-vespa-new-2013-1128&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" style="font-family: Arial; color: #0792bd; text-decoration: none; font-size:15px; vertical-align:middle; font-weight:bold" target="_blank">Nón bảo hiểm vespa new 2013</a></td>
                                  </tr>
                                  <tr>
                                    <td style="padding:3px; background-color:#FFFFFF" align="left" bgcolor="#FFFFFF" valign="top"><a href="http://www.cheapdeal.vn/non-bao-hiem-vespa-new-2013-1128.html?utm_campaign=non-bao-hiem-vespa-new-2013-1128&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" style="font-family: Arial;font-size:12px; color: #fff; text-decoration: none;" target="_blank"><img src="http://cheapdeal.vn/static/team/2013/CheapDeal/13616122784074.jpg" border="1" height="265" width="220"></a></td>
                                  </tr>
                                  <tr>
                                    <td style="padding-top:5px;" align="left" valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody><tr>
                                        <td colspan="2" align="center" valign="middle"><span style="font-weight:bold;color:#c40000; font-family:Arial; font-size:135%; white-space:nowrap" align="center">79.000</span> <sup style="font-size:70%; font-family:Arial">VNĐ</sup></td><td rowspan="2" align="right">
                                        <div><a href="http://www.cheapdeal.vn/non-bao-hiem-vespa-new-2013-1128.html?utm_campaign=non-bao-hiem-vespa-new-2013-1128&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" target="_blank"><img alt="Xem deal" src="http://cheapdeal.vn/static/css/images/xem.png" style="font-family: Arial; color: #0792bd; text-decoration: none;" border="0" height="22px" width="60px"></a></div></td></tr><tr>
                                        <td style="padding-right:10px" align="center" valign="top"><div align="center"><span style="font-size:90%; font-family:Arial;font-weight:bold; text-decoration:line-through">140.000</span> <sup style="font-size:50%; font-family:Arial">VNĐ</sup></div></td></tr>
                                    </tbody></table></td>
                                  </tr>
                                </tbody></table>
                                </td></tr></tbody></table>
                      		</td></tr>                                                <tr>                          	<td style="padding: 3px 0px; width: 244px; padding-right: 11px; padding-bottom:8px" align="left" valign="top">
                                <table style="background-color: #ebebeb; box-shadow: 1px 2px 3px 0px #cccccc;  -moz-box-shadow: 1px 2px 3px 0px #cccccc; -webkit-box-shadow: 1px 2px 3px 0px #cccccc; " bgcolor="#ebebeb" border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody><tr>
                            <td style="padding: 7px 7px 7px 7px; border: 1px solid #cccccc;" align="left" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0">
                                  <tbody><tr>
                                    <td align="left" valign="top"><a href="http://www.cheapdeal.vn/giay-vai-nam-qua-tao-2069.html?utm_campaign=giay-vai-nam-qua-tao-2069&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" style="font-family: Arial; color: #0792bd; text-decoration: none; font-size:15px; vertical-align:middle; font-weight:bold" target="_blank">Giày vải nam quả táo</a></td>
                                  </tr>
                                  <tr>
                                    <td style="padding:3px; background-color:#FFFFFF" align="left" bgcolor="#FFFFFF" valign="top"><a href="http://www.cheapdeal.vn/giay-vai-nam-qua-tao-2069.html?utm_campaign=giay-vai-nam-qua-tao-2069&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" style="font-family: Arial;font-size:12px; color: #fff; text-decoration: none;" target="_blank"><img src="http://cheapdeal.vn/static/team/2013/0921/13797387824162.jpg" border="1" height="265" width="220"></a></td>
                                  </tr>
                                  <tr>
                                    <td style="padding-top:5px;" align="left" valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody><tr>
                                        <td colspan="2" align="center" valign="middle"><span style="font-weight:bold;color:#c40000; font-family:Arial; font-size:135%; white-space:nowrap" align="center">215.000</span> <sup style="font-size:70%; font-family:Arial">VNĐ</sup></td><td rowspan="2" align="right">
                                        <div><a href="http://www.cheapdeal.vn/giay-vai-nam-qua-tao-2069.html?utm_campaign=giay-vai-nam-qua-tao-2069&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" target="_blank"><img alt="Xem deal" src="http://cheapdeal.vn/static/css/images/xem.png" style="font-family: Arial; color: #0792bd; text-decoration: none;" border="0" height="22px" width="60px"></a></div></td></tr><tr>
                                        <td style="padding-right:10px" align="center" valign="top"><div align="center"><span style="font-size:90%; font-family:Arial;font-weight:bold; text-decoration:line-through">395.000</span> <sup style="font-size:50%; font-family:Arial">VNĐ</sup></div></td></tr>
                                    </tbody></table></td>
                                  </tr>
                                </tbody></table>
                                </td></tr></tbody></table>
                      		</td>                                                                          	<td style="padding: 3px 0px; width: 244px; padding-right: 11px; padding-bottom:8px" align="left" valign="top">
                                <table style="background-color: #ebebeb; box-shadow: 1px 2px 3px 0px #cccccc;  -moz-box-shadow: 1px 2px 3px 0px #cccccc; -webkit-box-shadow: 1px 2px 3px 0px #cccccc; " bgcolor="#ebebeb" border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody><tr>
                            <td style="padding: 7px 7px 7px 7px; border: 1px solid #cccccc;" align="left" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0">
                                  <tbody><tr>
                                    <td align="left" valign="top"><a href="http://www.cheapdeal.vn/combo-2-mu-trum-dau-2079.html?utm_campaign=combo-2-mu-trum-dau-2079&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" style="font-family: Arial; color: #0792bd; text-decoration: none; font-size:15px; vertical-align:middle; font-weight:bold" target="_blank">Combo 2 mũ trùm đầu</a></td>
                                  </tr>
                                  <tr>
                                    <td style="padding:3px; background-color:#FFFFFF" align="left" bgcolor="#FFFFFF" valign="top"><a href="http://www.cheapdeal.vn/combo-2-mu-trum-dau-2079.html?utm_campaign=combo-2-mu-trum-dau-2079&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" style="font-family: Arial;font-size:12px; color: #fff; text-decoration: none;" target="_blank"><img src="http://cheapdeal.vn/static/team/2013/0924/13799885077531.jpg" border="1" height="265" width="220"></a></td>
                                  </tr>
                                  <tr>
                                    <td style="padding-top:5px;" align="left" valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody><tr>
                                        <td colspan="2" align="center" valign="middle"><span style="font-weight:bold;color:#c40000; font-family:Arial; font-size:135%; white-space:nowrap" align="center">49.000</span> <sup style="font-size:70%; font-family:Arial">VNĐ</sup></td><td rowspan="2" align="right">
                                        <div><a href="http://www.cheapdeal.vn/combo-2-mu-trum-dau-2079.html?utm_campaign=combo-2-mu-trum-dau-2079&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" target="_blank"><img alt="Xem deal" src="http://cheapdeal.vn/static/css/images/xem.png" style="font-family: Arial; color: #0792bd; text-decoration: none;" border="0" height="22px" width="60px"></a></div></td></tr><tr>
                                        <td style="padding-right:10px" align="center" valign="top"><div align="center"><span style="font-size:90%; font-family:Arial;font-weight:bold; text-decoration:line-through">70.000</span> <sup style="font-size:50%; font-family:Arial">VNĐ</sup></div></td></tr>
                                    </tbody></table></td>
                                  </tr>
                                </tbody></table>
                                </td></tr></tbody></table>
                      		</td>                                                                          	<td style="padding: 3px 0px; width: 244px; padding-right: 11px; padding-bottom:8px" align="left" valign="top">
                                <table style="background-color: #ebebeb; box-shadow: 1px 2px 3px 0px #cccccc;  -moz-box-shadow: 1px 2px 3px 0px #cccccc; -webkit-box-shadow: 1px 2px 3px 0px #cccccc; " bgcolor="#ebebeb" border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody><tr>
                            <td style="padding: 7px 7px 7px 7px; border: 1px solid #cccccc;" align="left" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0">
                                  <tbody><tr>
                                    <td align="left" valign="top"><a href="http://www.cheapdeal.vn/combo-2-tui-giu-nhiet-cao-cap-2077.html?utm_campaign=combo-2-tui-giu-nhiet-cao-cap-2077&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" style="font-family: Arial; color: #0792bd; text-decoration: none; font-size:15px; vertical-align:middle; font-weight:bold" target="_blank">Combo 2 túi giữ nhiệt cao ...</a></td>
                                  </tr>
                                  <tr>
                                    <td style="padding:3px; background-color:#FFFFFF" align="left" bgcolor="#FFFFFF" valign="top"><a href="http://www.cheapdeal.vn/combo-2-tui-giu-nhiet-cao-cap-2077.html?utm_campaign=combo-2-tui-giu-nhiet-cao-cap-2077&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" style="font-family: Arial;font-size:12px; color: #fff; text-decoration: none;" target="_blank"><img src="http://cheapdeal.vn/static/team/2013/0923/13799306701930.jpg" border="1" height="265" width="220"></a></td>
                                  </tr>
                                  <tr>
                                    <td style="padding-top:5px;" align="left" valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody><tr>
                                        <td colspan="2" align="center" valign="middle"><span style="font-weight:bold;color:#c40000; font-family:Arial; font-size:135%; white-space:nowrap" align="center">65.000</span> <sup style="font-size:70%; font-family:Arial">VNĐ</sup></td><td rowspan="2" align="right">
                                        <div><a href="http://www.cheapdeal.vn/combo-2-tui-giu-nhiet-cao-cap-2077.html?utm_campaign=combo-2-tui-giu-nhiet-cao-cap-2077&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" target="_blank"><img alt="Xem deal" src="http://cheapdeal.vn/static/css/images/xem.png" style="font-family: Arial; color: #0792bd; text-decoration: none;" border="0" height="22px" width="60px"></a></div></td></tr><tr>
                                        <td style="padding-right:10px" align="center" valign="top"><div align="center"><span style="font-size:90%; font-family:Arial;font-weight:bold; text-decoration:line-through">80.000</span> <sup style="font-size:50%; font-family:Arial">VNĐ</sup></div></td></tr>
                                    </tbody></table></td>
                                  </tr>
                                </tbody></table>
                                </td></tr></tbody></table>
                      		</td></tr>                                                <tr>                          	<td style="padding: 3px 0px; width: 244px; padding-right: 11px; padding-bottom:8px" align="left" valign="top">
                                <table style="background-color: #ebebeb; box-shadow: 1px 2px 3px 0px #cccccc;  -moz-box-shadow: 1px 2px 3px 0px #cccccc; -webkit-box-shadow: 1px 2px 3px 0px #cccccc; " bgcolor="#ebebeb" border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody><tr>
                            <td style="padding: 7px 7px 7px 7px; border: 1px solid #cccccc;" align="left" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0">
                                  <tbody><tr>
                                    <td align="left" valign="top"><a href="http://www.cheapdeal.vn/giay-jean-rach-cho-nam-2073.html?utm_campaign=giay-jean-rach-cho-nam-2073&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" style="font-family: Arial; color: #0792bd; text-decoration: none; font-size:15px; vertical-align:middle; font-weight:bold" target="_blank">Giày jean rách cho nam</a></td>
                                  </tr>
                                  <tr>
                                    <td style="padding:3px; background-color:#FFFFFF" align="left" bgcolor="#FFFFFF" valign="top"><a href="http://www.cheapdeal.vn/giay-jean-rach-cho-nam-2073.html?utm_campaign=giay-jean-rach-cho-nam-2073&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" style="font-family: Arial;font-size:12px; color: #fff; text-decoration: none;" target="_blank"><img src="http://cheapdeal.vn/static/team/2013/0923/13799223724505.jpg" border="1" height="265" width="220"></a></td>
                                  </tr>
                                  <tr>
                                    <td style="padding-top:5px;" align="left" valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody><tr>
                                        <td colspan="2" align="center" valign="middle"><span style="font-weight:bold;color:#c40000; font-family:Arial; font-size:135%; white-space:nowrap" align="center">195.000</span> <sup style="font-size:70%; font-family:Arial">VNĐ</sup></td><td rowspan="2" align="right">
                                        <div><a href="http://www.cheapdeal.vn/giay-jean-rach-cho-nam-2073.html?utm_campaign=giay-jean-rach-cho-nam-2073&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" target="_blank"><img alt="Xem deal" src="http://cheapdeal.vn/static/css/images/xem.png" style="font-family: Arial; color: #0792bd; text-decoration: none;" border="0" height="22px" width="60px"></a></div></td></tr><tr>
                                        <td style="padding-right:10px" align="center" valign="top"><div align="center"><span style="font-size:90%; font-family:Arial;font-weight:bold; text-decoration:line-through">365.000</span> <sup style="font-size:50%; font-family:Arial">VNĐ</sup></div></td></tr>
                                    </tbody></table></td>
                                  </tr>
                                </tbody></table>
                                </td></tr></tbody></table>
                      		</td>                                                                          	<td style="padding: 3px 0px; width: 244px; padding-right: 11px; padding-bottom:8px" align="left" valign="top">
                                <table style="background-color: #ebebeb; box-shadow: 1px 2px 3px 0px #cccccc;  -moz-box-shadow: 1px 2px 3px 0px #cccccc; -webkit-box-shadow: 1px 2px 3px 0px #cccccc; " bgcolor="#ebebeb" border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody><tr>
                            <td style="padding: 7px 7px 7px 7px; border: 1px solid #cccccc;" align="left" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0">
                                  <tbody><tr>
                                    <td align="left" valign="top"><a href="http://www.cheapdeal.vn/do-bo-the-thao-yada-2070.html?utm_campaign=do-bo-the-thao-yada-2070&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" style="font-family: Arial; color: #0792bd; text-decoration: none; font-size:15px; vertical-align:middle; font-weight:bold" target="_blank">Đồ bộ thể thao Yada</a></td>
                                  </tr>
                                  <tr>
                                    <td style="padding:3px; background-color:#FFFFFF" align="left" bgcolor="#FFFFFF" valign="top"><a href="http://www.cheapdeal.vn/do-bo-the-thao-yada-2070.html?utm_campaign=do-bo-the-thao-yada-2070&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" style="font-family: Arial;font-size:12px; color: #fff; text-decoration: none;" target="_blank"><img src="http://cheapdeal.vn/static/team/2013/0923/13799032337339.jpg" border="1" height="265" width="220"></a></td>
                                  </tr>
                                  <tr>
                                    <td style="padding-top:5px;" align="left" valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody><tr>
                                        <td colspan="2" align="center" valign="middle"><span style="font-weight:bold;color:#c40000; font-family:Arial; font-size:135%; white-space:nowrap" align="center">129.000</span> <sup style="font-size:70%; font-family:Arial">VNĐ</sup></td><td rowspan="2" align="right">
                                        <div><a href="http://www.cheapdeal.vn/do-bo-the-thao-yada-2070.html?utm_campaign=do-bo-the-thao-yada-2070&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" target="_blank"><img alt="Xem deal" src="http://cheapdeal.vn/static/css/images/xem.png" style="font-family: Arial; color: #0792bd; text-decoration: none;" border="0" height="22px" width="60px"></a></div></td></tr><tr>
                                        <td style="padding-right:10px" align="center" valign="top"><div align="center"><span style="font-size:90%; font-family:Arial;font-weight:bold; text-decoration:line-through">210.000</span> <sup style="font-size:50%; font-family:Arial">VNĐ</sup></div></td></tr>
                                    </tbody></table></td>
                                  </tr>
                                </tbody></table>
                                </td></tr></tbody></table>
                      		</td>                                                                          	<td style="padding: 3px 0px; width: 244px; padding-right: 11px; padding-bottom:8px" align="left" valign="top">
                                <table style="background-color: #ebebeb; box-shadow: 1px 2px 3px 0px #cccccc;  -moz-box-shadow: 1px 2px 3px 0px #cccccc; -webkit-box-shadow: 1px 2px 3px 0px #cccccc; " bgcolor="#ebebeb" border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody><tr>
                            <td style="padding: 7px 7px 7px 7px; border: 1px solid #cccccc;" align="left" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0">
                                  <tbody><tr>
                                    <td align="left" valign="top"><a href="http://www.cheapdeal.vn/tui-xach-nam-da-polo-2064.html?utm_campaign=tui-xach-nam-da-polo-2064&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" style="font-family: Arial; color: #0792bd; text-decoration: none; font-size:15px; vertical-align:middle; font-weight:bold" target="_blank">Túi xách nam da POLO</a></td>
                                  </tr>
                                  <tr>
                                    <td style="padding:3px; background-color:#FFFFFF" align="left" bgcolor="#FFFFFF" valign="top"><a href="http://www.cheapdeal.vn/tui-xach-nam-da-polo-2064.html?utm_campaign=tui-xach-nam-da-polo-2064&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" style="font-family: Arial;font-size:12px; color: #fff; text-decoration: none;" target="_blank"><img src="http://cheapdeal.vn/static/team/2013/0920/13796686059013.jpg" border="1" height="265" width="220"></a></td>
                                  </tr>
                                  <tr>
                                    <td style="padding-top:5px;" align="left" valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody><tr>
                                        <td colspan="2" align="center" valign="middle"><span style="font-weight:bold;color:#c40000; font-family:Arial; font-size:135%; white-space:nowrap" align="center">425.000</span> <sup style="font-size:70%; font-family:Arial">VNĐ</sup></td><td rowspan="2" align="right">
                                        <div><a href="http://www.cheapdeal.vn/tui-xach-nam-da-polo-2064.html?utm_campaign=tui-xach-nam-da-polo-2064&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" target="_blank"><img alt="Xem deal" src="http://cheapdeal.vn/static/css/images/xem.png" style="font-family: Arial; color: #0792bd; text-decoration: none;" border="0" height="22px" width="60px"></a></div></td></tr><tr>
                                        <td style="padding-right:10px" align="center" valign="top"><div align="center"><span style="font-size:90%; font-family:Arial;font-weight:bold; text-decoration:line-through">755.000</span> <sup style="font-size:50%; font-family:Arial">VNĐ</sup></div></td></tr>
                                    </tbody></table></td>
                                  </tr>
                                </tbody></table>
                                </td></tr></tbody></table>
                      		</td></tr>                                                <tr>                          	<td style="padding: 3px 0px; width: 244px; padding-right: 11px; padding-bottom:8px" align="left" valign="top">
                                <table style="background-color: #ebebeb; box-shadow: 1px 2px 3px 0px #cccccc;  -moz-box-shadow: 1px 2px 3px 0px #cccccc; -webkit-box-shadow: 1px 2px 3px 0px #cccccc; " bgcolor="#ebebeb" border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody><tr>
                            <td style="padding: 7px 7px 7px 7px; border: 1px solid #cccccc;" align="left" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0">
                                  <tbody><tr>
                                    <td align="left" valign="top"><a href="http://www.cheapdeal.vn/tui-deo-cheo-kangaroo-dang-dung-2061.html?utm_campaign=tui-deo-cheo-kangaroo-dang-dung-2061&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" style="font-family: Arial; color: #0792bd; text-decoration: none; font-size:15px; vertical-align:middle; font-weight:bold" target="_blank">Túi đeo chéo kangaroo dạng ...</a></td>
                                  </tr>
                                  <tr>
                                    <td style="padding:3px; background-color:#FFFFFF" align="left" bgcolor="#FFFFFF" valign="top"><a href="http://www.cheapdeal.vn/tui-deo-cheo-kangaroo-dang-dung-2061.html?utm_campaign=tui-deo-cheo-kangaroo-dang-dung-2061&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" style="font-family: Arial;font-size:12px; color: #fff; text-decoration: none;" target="_blank"><img src="http://cheapdeal.vn/static/team/2013/0920/13796532407458.jpg" border="1" height="265" width="220"></a></td>
                                  </tr>
                                  <tr>
                                    <td style="padding-top:5px;" align="left" valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody><tr>
                                        <td colspan="2" align="center" valign="middle"><span style="font-weight:bold;color:#c40000; font-family:Arial; font-size:135%; white-space:nowrap" align="center">319.000</span> <sup style="font-size:70%; font-family:Arial">VNĐ</sup></td><td rowspan="2" align="right">
                                        <div><a href="http://www.cheapdeal.vn/tui-deo-cheo-kangaroo-dang-dung-2061.html?utm_campaign=tui-deo-cheo-kangaroo-dang-dung-2061&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" target="_blank"><img alt="Xem deal" src="http://cheapdeal.vn/static/css/images/xem.png" style="font-family: Arial; color: #0792bd; text-decoration: none;" border="0" height="22px" width="60px"></a></div></td></tr><tr>
                                        <td style="padding-right:10px" align="center" valign="top"><div align="center"><span style="font-size:90%; font-family:Arial;font-weight:bold; text-decoration:line-through">540.000</span> <sup style="font-size:50%; font-family:Arial">VNĐ</sup></div></td></tr>
                                    </tbody></table></td>
                                  </tr>
                                </tbody></table>
                                </td></tr></tbody></table>
                      		</td>                                                                          	<td style="padding: 3px 0px; width: 244px; padding-right: 11px; padding-bottom:8px" align="left" valign="top">
                                <table style="background-color: #ebebeb; box-shadow: 1px 2px 3px 0px #cccccc;  -moz-box-shadow: 1px 2px 3px 0px #cccccc; -webkit-box-shadow: 1px 2px 3px 0px #cccccc; " bgcolor="#ebebeb" border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody><tr>
                            <td style="padding: 7px 7px 7px 7px; border: 1px solid #cccccc;" align="left" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0">
                                  <tbody><tr>
                                    <td align="left" valign="top"><a href="http://www.cheapdeal.vn/ao-so-mi-color-form-dai-2082.html?utm_campaign=ao-so-mi-color-form-dai-2082&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" style="font-family: Arial; color: #0792bd; text-decoration: none; font-size:15px; vertical-align:middle; font-weight:bold" target="_blank">Áo sơ mi color form dài</a></td>
                                  </tr>
                                  <tr>
                                    <td style="padding:3px; background-color:#FFFFFF" align="left" bgcolor="#FFFFFF" valign="top"><a href="http://www.cheapdeal.vn/ao-so-mi-color-form-dai-2082.html?utm_campaign=ao-so-mi-color-form-dai-2082&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" style="font-family: Arial;font-size:12px; color: #fff; text-decoration: none;" target="_blank"><img src="http://cheapdeal.vn/static/team/2013/0924/13800051945869.jpg" border="1" height="265" width="220"></a></td>
                                  </tr>
                                  <tr>
                                    <td style="padding-top:5px;" align="left" valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody><tr>
                                        <td colspan="2" align="center" valign="middle"><span style="font-weight:bold;color:#c40000; font-family:Arial; font-size:135%; white-space:nowrap" align="center">99.000</span> <sup style="font-size:70%; font-family:Arial">VNĐ</sup></td><td rowspan="2" align="right">
                                        <div><a href="http://www.cheapdeal.vn/ao-so-mi-color-form-dai-2082.html?utm_campaign=ao-so-mi-color-form-dai-2082&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" target="_blank"><img alt="Xem deal" src="http://cheapdeal.vn/static/css/images/xem.png" style="font-family: Arial; color: #0792bd; text-decoration: none;" border="0" height="22px" width="60px"></a></div></td></tr><tr>
                                        <td style="padding-right:10px" align="center" valign="top"><div align="center"><span style="font-size:90%; font-family:Arial;font-weight:bold; text-decoration:line-through">190.000</span> <sup style="font-size:50%; font-family:Arial">VNĐ</sup></div></td></tr>
                                    </tbody></table></td>
                                  </tr>
                                </tbody></table>
                                </td></tr></tbody></table>
                      		</td>                                                                          	<td style="padding: 3px 0px; width: 244px; padding-right: 11px; padding-bottom:8px" align="left" valign="top">
                                <table style="background-color: #ebebeb; box-shadow: 1px 2px 3px 0px #cccccc;  -moz-box-shadow: 1px 2px 3px 0px #cccccc; -webkit-box-shadow: 1px 2px 3px 0px #cccccc; " bgcolor="#ebebeb" border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody><tr>
                            <td style="padding: 7px 7px 7px 7px; border: 1px solid #cccccc;" align="left" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0">
                                  <tbody><tr>
                                    <td align="left" valign="top"><a href="http://www.cheapdeal.vn/ao-voan-da-quang-2074.html?utm_campaign=ao-voan-da-quang-2074&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" style="font-family: Arial; color: #0792bd; text-decoration: none; font-size:15px; vertical-align:middle; font-weight:bold" target="_blank">Áo Voan Dạ Quang</a></td>
                                  </tr>
                                  <tr>
                                    <td style="padding:3px; background-color:#FFFFFF" align="left" bgcolor="#FFFFFF" valign="top"><a href="http://www.cheapdeal.vn/ao-voan-da-quang-2074.html?utm_campaign=ao-voan-da-quang-2074&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" style="font-family: Arial;font-size:12px; color: #fff; text-decoration: none;" target="_blank"><img src="http://cheapdeal.vn/static/team/2013/0923/13799247264935.jpg" border="1" height="265" width="220"></a></td>
                                  </tr>
                                  <tr>
                                    <td style="padding-top:5px;" align="left" valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody><tr>
                                        <td colspan="2" align="center" valign="middle"><span style="font-weight:bold;color:#c40000; font-family:Arial; font-size:135%; white-space:nowrap" align="center">89.000</span> <sup style="font-size:70%; font-family:Arial">VNĐ</sup></td><td rowspan="2" align="right">
                                        <div><a href="http://www.cheapdeal.vn/ao-voan-da-quang-2074.html?utm_campaign=ao-voan-da-quang-2074&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=Deal" target="_blank"><img alt="Xem deal" src="http://cheapdeal.vn/static/css/images/xem.png" style="font-family: Arial; color: #0792bd; text-decoration: none;" border="0" height="22px" width="60px"></a></div></td></tr><tr>
                                        <td style="padding-right:10px" align="center" valign="top"><div align="center"><span style="font-size:90%; font-family:Arial;font-weight:bold; text-decoration:line-through">190.000</span> <sup style="font-size:50%; font-family:Arial">VNĐ</sup></div></td></tr>
                                    </tbody></table></td>
                                  </tr>
                                </tbody></table>
                                </td></tr></tbody></table>
                      		</td></tr>                                           </tbody></table></td>
                    </tr>
                    
                    
                        
                    
                                        	<tr><td style="background-color: #ffffff;padding-left:10px; padding-top:5px;" align="left" bgcolor="#FFFFFF" valign="top">
                        <table style="width: 100%;" cellpadding="0" cellspacing="0" width="100%">
                          <tbody><tr>
                            <td align="left" valign="top"><a href="https://www.facebook.com/cheapdeal.hcm?utm_campaign=CheapdealOnFacebook&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=deal" target="_blank"><img src="http://cheapdeal.vn/static/img/CheapdealOnFacebook.jpg" alt="Cheapdeal On Facebook" align="absmiddle" border="0" height="45" width="210"></a></td>
                            <td style="padding: 0px  2px  0  15px;" align="right"><a href="http://www.cheapdeal.vn/?utm_campain=Cheapdeal&amp;utm_medium=email&amp;utm_source=mailnewsletter&amp;utm_content=ViewAllDeal" style="font-family: Arial; font-size:14px; color: #0792bd; text-decoration: none;" target="_blank">Xem tất cả khuyến mãi ►</a></td>
                          </tr></tbody></table></td></tr>
                    <tr>
                      <td style="background-color: #ffffff; padding: 2px  2px  2px  2px;-moz-border-radius-bottomright: 8px; -moz-border-radius-bottomleft: 8px; -khtml-border-radius-bottomright: 8px; khtml-border-radius-bottomleft: 8px; -webkit-border-bottom-right-radius: 8px; -webkit-border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px;height:15px" bgcolor="#FFFFFF" height="15"></td>
                    </tr>
                  </tbody>
		<td width="244" valign="top">
        	<?php if(!empty($other_deal)){?>
                <ul class="atmore_dealright">
                    <?php if(is_array($other_deal)){foreach($other_deal AS $index=>$one) { ?>
                    <?php 
                        $new_icon = $one['begin_time']+86400;
                        if($new_icon>time()){
                            $class = ' class="new"';
                        }else{
                            $class = '';
                        }
                        
                        $total_comment = DB::GetQueryResult("SELECT count(id) as total FROM topic WHERE team_id=".$one['id']);
                        $ids .= $one['id'].",";
                        $arr_group = array(16,23);
                        if(in_array($ip,$ip_arr)){
                            $now_number = RandomBuy($one['now_number'],$one['virtual_buy']);
                        }elseif(in_array($one['group_id'],$arr_group) && $one['close_time']){
                            $now_number = $one['now_number']*2;
                        }else{
                            $now_number = $one['now_number'];
                        }
                    ; ?>
                  <li<?php echo $class; ?>>
                  <a href="/<?php echo seo_url($one['short_title'],$one['id'],$url_suffix); ?>" class="">
                  <img src="<?php echo team_image($one['image'],true,240); ?>" alt="" title="" width="219" height="316" class="img_more_right" /></a>
                  <a href="/<?php echo seo_url($one['short_title'],$one['id'],$url_suffix); ?>" class="linktitlemoreright"><?php echo $one['short_title']; ?></a>
                  <div class="box_right_price_sale">
                  <span class="pricetoge"><?php echo print_price(moneyit($one['team_price'])); ?>đ</span>
                  <span class="right_marketprice"><?php echo print_price(moneyit($one['market_price'])); ?>đ</span>
                  <span class="right_sale">Giảm <?php echo ceil(moneyit((100*($one['market_price'] - $one['team_price'])/$one['market_price']))); ?>%</span>
                  </div>
                  </li>
                  <?php }}?>
                </ul><?php }?>
        </td>
    <!-- bd end -->
</div> <!-- bdw end -->
<?php include template("footer");?>