<!--{include manage_header}-->

<div id="bdw" class="bdw">
  <div id="bd" class="cf">
    <div id="coupons">
      <div class="subdashboard" id="dashboard">
        <ul>
          ${mcurrent_order('scanpackage')}
        </ul>
      </div>
      <div id="content" class="coupons-box clear mainwide">
        <div class="box clear">
          <div class="subbox-top">
            <div class="subhead">
              <h2>In Nhãn và Đóng Gói cho các đơn hàng đã in danh sách lấy hàng</h2>
            </div>
          </div>
          <div class="box-content"> 
            <script type="text/javascript" language="javascript">
					function CheckSubmit(){
						ischecked = false;
						for(i=1;i<document.frmprintorderpackage.orderid.length;i++){
							obj=document.getElementById(document.frmprintorderpackage.orderid[i].value);
							if(obj.checked==true){
								ischecked=true;break;
							}
						}
						if(!ischecked){
							alert("Vui lòng chọn một hoặc nhiều hóa đơn...");
							return false;
						}
						return true;
					}
					function OnSubmit(){
						if($("#OrderID").val()== ""){
							alert("Vui lòng nhập mã hóa đơn");
							$("#OrderID").focus();
							return false;
						}
						return true;
					}
					function DoGo(task){
						var thefrm = $("#frmprintorderpackage");
						var listid = "";
						if(!CheckSubmit()){
							return false;
						}else{
							if(task=="printlabel"){
								if(confirm("Bạn muốn in nhãn các hóa đơn đã chọn?")){
									$("#act").val(task);
									thefrm.attr("target","_blank"); 
									thefrm.attr("action","/backend/printlabel.php"); 
									$("#plabel").attr("disabled",true);
									thefrm.submit();
								}
							}
							if(task=="package"){
								if(confirm("Bạn muốn đóng gói các hóa đơn đã chọn?")){
									$("#act").val(task);
									thefrm.attr("target","_self"); 
									thefrm.attr("action","/backend/order/scanpackage.php?city_id=556");
									$("#packing").attr("disabled",true);
									thefrm.submit();
								}			
							}
						}
					}
				</script>
            <div align="left" style="padding:5px;">
              <div align="center">
                  <table border="0" cellspacing="4">
                    <form name="frmsearch" method="POST" onsubmit="return OnSubmit()">
                      <tr>
                        <td align="right"><b>M&atilde; h&oacute;a &#273;&#417;n</b></td>
                        <td align="left"><textarea name="OrderID" id="OrderID"  style="width:350px;height:100px;padding:2px; border:#1B94C1 1px solid">{$OrderIDList}</textarea></td>
                        <td style="padding-left:5px;"><input type="submit" name="onsubmit" class="formbutton" value="  Submit  " /></td>
                      </tr>
                    </form>
                  </table>
                </div>
                <div align="center" style="color:#FF0000; padding-top:3px;">{$message}</div>
            </div>
            <form name="frmprintorderpackage" id="frmprintorderpackage" method="POST" action="/backend/print_order_packing.php" target="_blank" onsubmit="return CheckSubmit()">
              <input type="hidden" name="act" id="act" value="">
              <input type="hidden" name="orderid[0]" id="orderid" value="nothing">
              <div>
                <table border="0" cellspacing="0" cellpadding="0" id="orders-list" class="coupons-table" style="color:#000">
                  <tr>
                    <th align="left"><input type="checkbox" name="checkall" id="checkall" onclick="jqCheckAll( this.id, 'myinput' )" /></th>
                    <th width="100">ID</th>
                      <th width="350">Thông tin thanh toán</th>
                      <th width="350">Thông tin vận chuyển</th>
                      <th width="60" nowrap>Thành tiền</th>
                  </tr>
    				<!--{loop $orders $index $one}-->
                  <tr style="background-color:#${getStatusColor($one['state'])}" id="order-list-id-{$one['id']}">
                    <td align="center" width="1%"><input type="hidden" name="orderid[]" id="orderid" value="{$one['id']}">
                      <input name="myinput[]" id="{$one['id']}" value="{$one['id']}" type="checkbox"></td>
                    <td>Deal: <strong>{$one['team_id']}&nbsp;(<a class="deal-title" href="/{$city['slug']}/${seo_url($teams[$one['team_id']]['short_title'],$one['team_id'],$url_suffix)}" target="_blank" style="color:#0000FF">{$teams[$one['team_id']]['short_title']})</a></strong><br />Số đ.hàng: <a href="/ajax/manage.php?action=orderview&id={$one['id']}" class="ajaxlink" title="Xem chi tiết" style="color:#0000FF"><strong>{$one['id']}</strong></a><br />
        <span style="white-space:nowrap">Ngày đặt: ${date('Y-m-d H:i:s',$one['create_time']);}</span><br /><span style="white-space:nowrap">Trạng thái: ${getStatusName($one['state'])}</span></td>
                    <td>Họ tên: <a href="/ajax/manage.php?action=userview&id={$one['user_id']}" class="ajaxlink" style="color:#0000FF"><strong>{$one['realname']}</strong></a><br />
      
		<!--${
            if($one['note_address']!=''){
                $note_address = htmlspecialchars($one['note_address']).", ";
            }
            $one['billing_address'] = $note_address.htmlspecialchars($one['address']);
            if(ward_name($one['dist_id'],$one['ward_id'])){
                $wardname = ward_name($one['dist_id'],$one['ward_id']);
                $one['billing_address'] .=", ".strip_input($wardname['ward_name']);
            }
            if(ename_dist($one['dist_id'])){
                $dists = ename_dist($one['dist_id']);
                $one['billing_address'] .=", ".strip_input($dists['dist_name']);		
            }
            if(id_city($one['city_id'])){
                $citys = id_city($one['city_id']);
                $one['billing_address'] .=", ".strip_input($citys['name']);		
            }
            
            
            if($one['bnote_address']!=''){
                $note_address = htmlspecialchars($one['bnote_address']).", ";
            }
            $one['shipping_address'] = $note_address.htmlspecialchars($one['baddress']);
            if(ward_name($one['bdist_id'],$one['bward_id'])){
                $bwardname = ward_name($one['bdist_id'],$one['bward_id']);
                $one['shipping_address'] .=", ".strip_input($bwardname['ward_name']);
            }
            if(ename_dist($one['bdist_id'])){
                $bdists = ename_dist($one['bdist_id']);
                $one['shipping_address'] .=", ".strip_input($bdists['dist_name']);		
            }
            if(id_city($one['bcity_id'])){
                $bcitys = id_city($one['bcity_id']);
                $one['shipping_address'] .=", ".strip_input($bcitys['name']);		
            }
        
      }-->      
      
        Địa chỉ: {$one['billing_address']}<br />ĐT: {$one['mobile']}<br /><span style="color:#c40000"><strong>${GetPaymentName($one['payment_id'])}</strong></span></td>
                    <td>Họ tên: <a href="/ajax/manage.php?action=userview&id={$one['user_id']}" class="ajaxlink" style="color:#0000FF"><strong><!--{if $one['brealname']!=''}-->{$one['brealname']}<!--{else}-->{$one['realname']}<!--{/if}--></strong></a><br />
        Địa chỉ: {$one['shipping_address']}<br />Điện thoại: {$one['bmobile']}<br /><span style="color:#c40000"><strong>${GetShippingName($one['shipping_id'])}</strong></span></td>
                    <td align="right" style="color:#FF0000"><strong>${print_price(moneyit(TotalOrder($one['id'])))}</strong></td>
                  </tr>
                  <!--{/loop}-->
                  <tr>
                    <!--{if $count>0}-->
                  <tr>
                    <td></td><td nowrap="nowrap" style="padding-bottom:5px;"><!--{if $count>0}--><input type="button" name="plabel" onclick="DoGo('printlabel')" id="plabel" value="In Nhãn" class="formbutton" /><!--{/if}--><!--{if ($count>0 && $count1==0) || ($count==0 && $count1>0)}-->&nbsp;&nbsp;<input type="button" onclick="DoGo('package')" name="packing" value="Đóng Gói" id="packing" class="formbutton" /><!--{/if}--></td>
                  <!--{/if}--><td colspan="3" nowrap="nowrap">{$pagestring}</td>
                  </tr>
                  
                </table>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- bd end --> 
</div>
<!-- bdw end --> 
<!--{include manage_footer}-->