<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="subdashboard" id="dashboard">
		<ul>${mcurrent_team($selector)}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="subbox-top"><div class="subhead">
				<!--{if $selector=='failure'}-->
                    <h2>Deal failed</h2>
				<!--{elseif $selector=='success'}-->
                    <h2>Deal tipped</h2>
				<!--{else}-->
                    <h2>Current deal</h2>
				<!--{/if}-->
                <ul class="filter" style="padding:0px; margin:0px;">
						<li><form method="get">ID<input type="text"name="id" id="team_id" class="f-input" value="" style="height:14px;" />&nbsp;Sale<select name="sale" id="sale" style="width:160px;" datatype="require" require="require" onchange="this.form.submit()"><option value="0">---Chọn---</option>${option_business_staff($team['sale'])}</select></form>
                        <script type="text/javascript" language="javascript">$("#team_id").val("{$team_id}");$("#sale").val("{$sale}");</script></li>
					</ul>
				</div></div>
            <div class="box-content">
                
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr><th width="40">ID</th><th width="400">deal name</th><th width="80" nowrap>category</th><th width="100">date</th><th width="50">deal tipped</th><th width="60" nowrap>price (<span class="money">{$currency}</span>)</th><th width="100">operation</th></tr>
					<!--{loop $teams $index $one}-->
					<!--${$oldstate = $one['state']}-->
					<!--${$one['state'] = team_state($one)}-->
					<tr ${$index%2?'':'class="alt"'} id="team-list-id-{$one['id']}">
						<td>{$one['id']}</td>
						<td>
							${$one['team_type']=='normal' ? '[Deal]' : ''}
							${$one['team_type']=='seconds' ? '[Deal]' : ''}
							${$one['team_type']=='goods' ? '[Goods]' : ''}
							<a class="deal-title" href="/team.php?id={$one['id']}" target="_blank">{$one['title']}</a>
						</td>
						<td nowrap>{$cities[$one['city_id']]['name']}<br/>{$groups[$one['group_id']]['name']}<br /><strong>Số HĐ: {$one['number_of_contracts']}</strong><br /><strong>NV Sale:</strong> ${SaleName($one['sale'])}<br /><!--{if $one['delivery_properties']==1}-->Giao sản phẩm<!--{else}-->Giao Voucher<!--{/if}--></td>
						<td nowrap>${date('Y-m-d',$one['begin_time'])}<br/>${date('Y-m-d',$one['end_time'])}</td>
						<td nowrap><!--${$total_qty = DB::GetQueryResult("SELECT sum(quantity) as qty FROM `order` WHERE team_id=".$one['id'])}-->{$total_qty['qty']}/<strong>{$one['now_number']}</strong>/{$one['min_number']}</td>
						<td nowrap align="right">${print_price(moneyit($one['team_price']))}<br/>${print_price(moneyit($one['market_price']))}</td>
						<td class="op"><a href="/ajax/manage.php?action=teamdetail&id={$one['id']}" class="ajaxlink">Detail</a>｜<a href="/backend/team/edit.php?id={$one['id']}">Edit</a></td>
					</tr>
					<!--{/loop}-->
					<tr><td colspan="7">{$pagestring}</tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
