<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="subdashboard" id="dashboard">
		<ul>${mcurrent_coupon('index')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>Consumable</h2>
					<ul class="filter">
						<li><form method="get"> deal ID：<input type="text" class="h-input" name="tid" value="${htmlspecialchars($tid)}" >&nbsp;user：<input type="text" class="h-input" name="uname" value="${htmlspecialchars($uname)}" >&nbsp; coupon No.：<input type="text" class="h-input" name="coupon" value="${htmlspecialchars($coupon)}" >&nbsp;<input type="submit" value="select" class="formbutton"  style="padding:1px 6px;"/><form></li>
					</ul>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr><th width="100"> No.</th><th width="420"> deal</th><th width="180"> user</th><th width="80" nowrap> due time</th><th width="40" nowrap> SMS </th><th width="40" nowrap> operation</th></tr>
					<!--{loop $coupons $index $one}-->
					<tr ${$index%2?'':'class="alt"'} id="order-list-id-{$one['id']}">
						<td>{$one['id']}</td>
						<td>{$one['team_id']}&nbsp;(<a class="deal-title" href="/team.php?id={$one['team_id']}" target="_blank">{$teams[$one['team_id']]['title']}</a>)</td>
						<td nowrap>{$users[$one['user_id']]['email']}<br/>{$users[$one['user_id']]['username']}</td>
						<td nowrap>${date('Y-m-d',$one['expire_time'])}</td>
						<td>{$one['sms']}</td>
						<td class="op"><a href="/ajax/coupon.php?action=sms&id={$one['id']}" class="ajaxlink"> SMS </a></td>
					</tr>
					<!--{/loop}-->
					<tr><td colspan="7">{$pagestring}</tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
