<!--{include manage_header}-->

<div id="bdw" class="bdw">
  <div id="bd" class="cf">
    <div id="coupons">
      <div class="subdashboard" id="dashboard">
        <ul>
          ${mcurrent_order('printorderpacking')}
        </ul>
      </div>
      <div id="content" class="coupons-box clear mainwide">
        <div class="box clear">
          <div class="subbox-top">
            <div class="subhead">
              <h2>In ĐH để đóng gói</h2>
            </div>
          </div>
          <div class="box-content"> 
            <script type="text/javascript" language="javascript">
					function CheckSubmit(){
						ischecked = false;
						for(i=1;i<document.frmprintorderpacking.orderid.length;i++){
							obj=document.getElementById(document.frmprintorderpacking.orderid[i].value);
							if(obj.checked==true){
								ischecked=true;break;
							}
						}
						if(!ischecked){
							alert("Vui lòng chọn một hoặc nhiều đơn hàng để in...");
							return false;
						}
						if(!confirm('Bạn muốn in các đơn hàng đã chọn???')){
							return false;
						}
						return true;
					}
				</script>
            <div align="left" style="padding:5px;">
              <table border="0" cellspacing="4">
                <form name="frmsearch" method="POST">
                  <tr>
                    <td align="right"><strong>Lượt in:</strong></td>
                    <td align="left"><select name="block" id="block" onChange="document.frmsearch.submit()">
                        <option value=""> - Select - </option>
                        <!--{loop $ds $index $val}-->
                        <option value="{$val['time_process']}">${date('d-m-Y H:i:s',strtotime($val['time_process']))}</option><!--{/loop}-->
                      </select>
                      <script type="text/javascript">$("#block").val("{$time_processing}");</script></td>
                  </tr>
                </form>
              </table>
            </div>
            <form name="frmprintorderpacking" id="frmprintorderpacking" method="POST" action="/backend/print_order_packing.php" target="_blank" onsubmit="return CheckSubmit()">
              <input type="hidden" name="act" id="act" value="print">
              <input type="hidden" name="timeprocessing" value="{$time_processing}">
              <input type="hidden" name="orderid[0]" id="orderid" value="nothing">
              <div>
                <table border="0" cellspacing="0" cellpadding="0" id="orders-list" class="coupons-table">
                  <tr>
                    <th align="left"><input type="checkbox" name="checkall" id="checkall" onclick="jqCheckAll( this.id, 'myinput' )" /></th>
                    <th width="100">ID</th>
                      <th width="350">Thông tin thanh toán</th>
                      <th width="350">Thông tin vận chuyển</th>
                      <th width="60" nowrap>Thành tiền</th>
                  </tr>
    				<!--{loop $orders $index $one}-->
                  <tr style="background-color:#${getStatusColor($one['state'])}" id="order-list-id-{$one['id']}">
                    <td align="center" width="1%"><input type="hidden" name="orderid[]" id="orderid" value="{$one['id']}">
                      <input name="myinput[]" id="{$one['id']}" value="{$one['id']}" type="checkbox"></td>
                    <td>Deal: <strong>{$one['team_id']}&nbsp;(<a class="deal-title" href="/{$city['slug']}/${seo_url($teams[$one['team_id']]['short_title'],$one['team_id'],$url_suffix)}" target="_blank">{$teams[$one['team_id']]['short_title']})</a></strong><br />Số đ.hàng: <a href="/ajax/manage.php?action=orderview&id={$one['id']}" class="ajaxlink" title="Xem chi tiết"><strong>{$one['id']}</strong></a><br />
        <span style="white-space:nowrap">Ngày đặt: ${date('Y-m-d H:i:s',$one['create_time']);}</span><br /><span style="white-space:nowrap">Trạng thái: ${getStatusName($one['state'])}</span></td>
                    <td>Họ tên: <a href="/ajax/manage.php?action=userview&id={$one['user_id']}" class="ajaxlink"><strong>{$one['realname']}</strong></a><br />
      
		<!--${
            if($one['note_address']!=''){
                $note_address = htmlspecialchars($one['note_address']).", ";
            }
            $one['billing_address'] = $note_address.htmlspecialchars($one['address']);
            if(ward_name($one['dist_id'],$one['ward_id'])){
                $wardname = ward_name($one['dist_id'],$one['ward_id']);
                $one['billing_address'] .=", ".strip_input($wardname['ward_name']);
            }
            if(ename_dist($one['dist_id'])){
                $dists = ename_dist($one['dist_id']);
                $one['billing_address'] .=", ".strip_input($dists['dist_name']);		
            }
            if(id_city($one['city_id'])){
                $citys = id_city($one['city_id']);
                $one['billing_address'] .=", ".strip_input($citys['name']);		
            }
            
            
            if($one['bnote_address']!=''){
                $note_address = htmlspecialchars($one['bnote_address']).", ";
            }
            $one['shipping_address'] = $note_address.htmlspecialchars($one['baddress']);
            if(ward_name($one['bdist_id'],$one['bward_id'])){
                $bwardname = ward_name($one['bdist_id'],$one['bward_id']);
                $one['shipping_address'] .=", ".strip_input($bwardname['ward_name']);
            }
            if(ename_dist($one['bdist_id'])){
                $bdists = ename_dist($one['bdist_id']);
                $one['shipping_address'] .=", ".strip_input($bdists['dist_name']);		
            }
            if(id_city($one['bcity_id'])){
                $bcitys = id_city($one['bcity_id']);
                $one['shipping_address'] .=", ".strip_input($bcitys['name']);		
            }
        
      }-->      
      
        Địa chỉ: {$one['billing_address']}<br />ĐT: {$one['mobile']}<br /><span style="color:#c40000"><strong>${GetPaymentName($one['payment_id'])}</strong></span></td>
                    <td>Họ tên: <a href="/ajax/manage.php?action=userview&id={$one['user_id']}" class="ajaxlink"><strong><!--{if $one['brealname']!=''}-->{$one['brealname']}<!--{else}-->{$one['realname']}<!--{/if}--></strong></a><br />
        Địa chỉ: {$one['shipping_address']}<br />Điện thoại: {$one['bmobile']}<br /><span style="color:#c40000"><strong>${GetShippingName($one['shipping_id'])}</strong></span></td>
                    <td align="right" style="color:#FF0000"><strong>${print_price(moneyit(TotalOrder($one['id'])))}</strong></td>
                  </tr>
                  <!--{/loop}-->
                  <tr>
                    <!--{if $count>0}-->
                  <tr>
                    <td></td><td nowrap="nowrap" style="padding-bottom:5px;"><input id="printorder" type="submit" name="submit" class="formbutton" value="In đơn hàng để đóng gói" /></td>
                  <!--{/if}--><td colspan="3" nowrap="nowrap">{$pagestring}</td>
                  </tr>
                  
                </table>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- bd end --> 
</div>
<!-- bdw end --> 
<!--{include manage_footer}-->