<div id="ftw">
	<div id="ft">
		<ul class="cf">
        	<li class="col">
				<ul class="sub-list">
					<li><a href="/dealsoc-la-gi{$url_suffix}">{$INI['system']['abbreviation']} là gì?</a></li>
					<li><img src="/static/css/images/divider.gif" alt="" width="165" border="0" height="4" /></li>
					<li><a href="/huong-dan-mua-hang{$url_suffix}">Hướng dẫn mua hàng</a></li>
				</ul>
			</li>
            <li class="col img"><img src="/static/css/images/footer_spacer.jpg" alt="" width="20" height="74"></li>
            <li class="col">
				<ul class="sub-list">
					<li><a href="/hop-tac-kinh-doanh{$url_suffix}">Hợp tác kinh doanh</a></li>
                    <li><img src="/static/css/images/divider.gif" alt="" width="165" border="0" height="4"></li>
   					<li><a href="/lien-he-hop-tac{$url_suffix}">Liên hệ hợp tác</a></li>
				</ul>
			</li>
            <li class="col img"><img src="/static/css/images/footer_spacer.jpg" alt="" width="20" height="74"></li>
            <li class="col">
				<ul class="sub-list">
					<li><a href="/lien-he{$url_suffix}">Liên hệ</a></li>
					<li class="img"><img src="/static/css/images/divider.gif" alt="" width="165" border="0" height="4"></li>
					<li><a href="/dieu-khoan-su-dung{$url_suffix}">Điều khoản sử dụng</a></li>
				</ul>
			</li>
            <li class="col img"><img src="/static/css/images/footer_spacer.jpg" alt="" width="20" height="74"></li>
            <li class="col">
				<ul class="sub-list">
					<li><a href="/subscribe.php?ename={$city['ename']}">Đăng ký nhận mail</a></li>
                    <li class="img"><img src="/static/css/images/divider.gif" alt="" width="165" border="0" height="4"></li>
					<li><a href="/feed.php?ename={$city['ename']}">Đăng ký nhận tin RSS</a></li>
				</ul>
			</li>
        </ul>
		<div class="copyright">
		<p>&copy;<span>2010</span>&nbsp;{$INI['system']['sitename']} copyright reserved by {$INI['system']['abbreviation']}&nbsp;<a href="/about/terms.php">{$INI['system']['abbreviation']} Terms</a>&nbsp;Powered by <a href="http://{$INI['system']['sitename']}/" target="_blank">{$INI['system']['sitename']}</a></p>
		</div>
	</div>
</div>
<!--{include manage_html_footer}-->
