<table border="0" cellpadding="0" cellspacing="0" width="600" style="border-bottom:5px solid #50bde8;border-left:5px solid #50bde8;border-right:5px solid #50bde8;border-top:5px solid #50bde8; width:600px; background-color: rgb(255, 255, 255,255);-moz-border-radius: 8px  8px  8px  8px; border-top-left-radius: 8px; padding: 0; border-top-right-radius: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; border-width: 5px;">
  <tr>
    <td align="left" valign="top">
  <div style="color:#1d94bf; font-size: 19px; font-weight: bold; padding:10px; margin: 10px 0pt 7px 0px;">Chương trình "Miễn phí 01 năm mua sắm trên web: www.dealsoc.vn" với tổng giá trị giải thưởng lên đến 185.000.000 VNĐ</div>
  <div style="background-color:#f1f1f1; padding:10px;">
    <div style="margin-top:5px; color: rgb(102, 102, 102); word-spacing: 2px; font-weight: bold; line-height: 22px;"><span>Cảm ơn bạn đã đăng ký tham gia chương trình "Miễn phí 01 năm mua sắm trên web: www.dealsoc.vn" tại <a href="http://www.dealsoc.vn" style="text-decoration: none; color: rgb(19, 130, 224);" target="_blank">{$INI['system']['abbreviation']}</a></span></div>
    <div style="margin-top:10px; font-weight: bold; color: #c40000">Vui lòng click vào liên kết bên dưới để xác nhận bạn đã tham gia chương trình:<br />
    <b style="font-size: 12px; color:#1d94bf;"><a href="{$str_url}" target="_blank">{$str_url}</a></b></div>
    <div align="center" style="padding-top:10px; padding-bottom:10px;">Hãy copy link bên dưới đến bạn bè để có thêm cơ hội trúng <strong>"Miễn phí 01 năm mua sắm trên web: www.dealsoc.vn"</strong><br /><br /><a href="{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}" style="text-decoration:none; color:#C40000"><strong>{$INI['system']['wwwprefix']}/r.php?r={$login_user_id}</strong></a></div>
    <div style="margin-top:10px; line-height:18px">Bạn vui lòng thêm email &quot;<a href="mailto:noreply@dealsoc.vn" style="text-decoration:none" target="_blank"><strong>noreply@dealsoc.vn</strong></a>&quot; vào address book để đảm bảo bạn sẽ nhận email từ {$INI['system']['abbreviation']}. Nếu không email có thể sẽ vào <strong>SPAM/BULK</strong>.</span> </div>
  </div>
  
  <div style="padding:10px;">  
    <div style="color:#1d94bf; font-size:18px; font-weight:bold; padding-bottom:10px">Thông tin liên hệ</div>
    <div class="main_text" style="line-height:18px"><strong>Dealsoc.vn</strong><br />
    Lầu 8, Alpha Tower, 151 Nguyễn Đình Chiểu, P.6, Q.3. TPHCM<br />
Tel: 08.7302 4401 - Fax: <span class="main_text" style="line-height:18px">84-8  39300394</span> <br />
Email :<a href="mailto:support@dealsoc.vn">support@dealsoc.vn</a> - Website : <a href="http://www.dealsoc.vn">www.dealsoc.vn</a></div>
</div></td></tr></table>