<!--{include header}-->
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="feedback">
    <div id="content" class="clear">
        <div class="box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>Mời tham gia lễ trao giải</h2></div>
                <div class="sect">
					<!--<p class="notice" style="line-height:18px;"><span style="font-weight:bold; color:#0000FF;">MỜI THAM GIA LỄ TRAO GIẢI CHƯƠNG TRÌNH "LÌ XÌ TẾT TẠI HOTDEAL: MACBOOK PRO GIÁ 0 ĐỒNG"</span><br />HotDeal rất vui được chúc mừng 5 bạn trúng giải nhất và 1 bạn trúng giải nhì sau chương trình Lì Xì Tết của HotDeal.Đồng thời xin gửi lời cám ơn đến tất cả các khách hàng đã tham gia chương trình.<br />
                      HotDeal xin mời các bạn tham gia buổi lễ trao thưởng:<br />
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-	Thời gian: 18h30 ngày 16/02/2011 <br />
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-	Tại UP CAFÉ – 269 Nguyễn Trọng Tuyển, Q.PN
                      <br />Người tham dự sẽ được mời café, bánh ngọt miễn phí và tham gia các trò chơi, lễ bốc thăm cho khách tham dự với các phần quà hấp dẫn.
                    100 bạn gửi email đăng ký tham gia sớm nhất sẽ nhận được thư mời chính thức qua email.<br />Các bạn vui lòng điền thông tin đăng ký vào form dưới đây, nhớ ghi email và số ĐTDĐ để HotDeal liên hệ lại: </p>-->
                    <p class="notice" style="line-height:18px;"><span style="font-weight:bold; color:#0000FF;">MỜI THAM GIA LỄ TRAO GIẢI 
CHƯƠNG TRÌNH "NHANH TAY CLICK, NHẬN VESPA LX"</span><br />HotDeal rất vui được chúc mừng 4 bạn trúng giải nhất trong chương trình Vespa LX của HotDeal. Đồng thời xin gửi lời cám ơn đến tất cả các khách hàng đã tham gia chương trình.<br />
                      HotDeal xin mời các bạn tham gia buổi lễ trao thưởng:<br />
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-	Thời gian: 9h00 ngày 05/06/2011 <br />
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-	Tại REGINA COFFEE – 84 Nguyễn Du, Q.1, TPHCM
                      <br /><strong>Người tham dự sẽ được mời café,  nước, bánh ngọt, trái cây miễn phí và tham gia các trò chơi, lễ bốc thăm cho khách tham dự với các phần quà hấp dẫn.</strong><br />
                    <strong>200 bạn gửi email đăng ký tham gia sớm nhất</strong> sẽ nhận được thư mời chính thức qua email.  Các bạn vui lòng điền thông tin đăng ký vào form dưới đây, nhớ ghi email và số ĐTDĐ để HotDeal liên hệ lại:</p>
              <form id="feedback-user-form" method="post" action="/promotion/moithamgialetraogiai/tickets.php" class="validator">
                        <div class="field fullname">
                            <label for="feedback-fullname">Tên</label>
                            <input type="text" size="30" name="title" id="feedback-fullname" class="f-input" value="{$login_user['realname']}" require="true" datatype="require" />
                        </div> 
                        <div class="field email">
                            <label for="feedback-email-address">Thông tin liên hệ</label>
                            <input type="text" size="30" name="contact" id="feedback-email-address" class="f-input" value="{$login_user['email']}" require="true" datatype="require" />
                            <span class="hint">Vui lòng nhập địa chỉ email và số điện thoại</span>
                        </div>
                        <div class="field suggest">
                            <label for="feedback-suggest">Nội dung liên hệ</label>
                            <!--<textarea cols="30" rows="5" name="content" id="feedback-suggest" class="f-textarea" require="true" datatype="require">Đăng ký tham dự lễ trao giải "Lì xì tết - Macbook Pro giá 0 đồng". Email: ............. ĐT liên hệ: ..............</textarea>-->
                            <textarea cols="30" rows="5" name="content" id="feedback-suggest" class="f-textarea" require="true" datatype="require">Đăng ký tham dự buổi Lễ trao thưởng "Nhanh tay click, nhận vespa LX"</textarea>
                        </div>
                        <div class="clear"></div>
                        <div class="act">
                            <input type="submit" value="Gửi" name="commit" id="feedback-submit" class="formbutton"/>
                        </div>
                    </form>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>
    <div id="sidebar">
		<!--{include block_side_subscribe}-->
        <!--<div align="center"><a href="http://hotdeal.vn/promotion/thongbaotrungthuong/MacbookPro/index.htm?utm_campaign=thongbaotrungthuong&utm_medium=banner&utm_source=hotdeal&utm_content=navigation" target="_blank"><img src="http://hotdeal.vn/static/css/images/banner_thongbao.jpg" border="0" /></a></div>-->
        <div align="center"><a href="http://hotdeal.vn/promotion/thongbaotrungthuong/VespaLX/index.htm?utm_campaign=thongbaotrungthuongVespaLX&utm_medium=banner&utm_source=hotdeal&utm_content=navigation" target="_blank"><img src="http://hotdeal.vn/static/css/images/banner_thongbao_VespaLX.gif" border="0" /></a></div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
