<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bảng kê nộp tiền giao hàng - Mã BG : {$rs[0]['out_id']}</title>
</head>
<body>
<div align="center">
    <h1 style="font-size:18px; font-family:Arial, Helvetica, sans-serif">Bảng kê nộp tiền giao hàng<!--{if $rs[0]['city']!=11}--> (Các ĐH đi tỉnh)<!--{/if}--></h1>
</div>
<div align="left" style=" font-size:13px; font-family:Arial, Helvetica, sans-serif"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><strong>NV bàn giao:</strong> {$creators[$rs[0]['creator']]['realname']}</td>
    <td><strong>NV trả bàn giao:</strong> {$updaters[$rs[0]['updater']]['realname']}</td>
    <td align="right" style="padding-left:30px;"><strong>Ngày BG: ${date("d/m/Y H:i:s",strtotime($rs[0]['created']))}</strong></td><td align="right" style="padding-left:30px;"><strong>Mã BG:</strong> <strong>{$rs[0]['out_id']}</strong></td>
    
  </tr>
  <tr>
    <td><strong>NV giao hàng:</strong> {$shippers[$rs[0]['shipper']]['shipper_name']}</td>
    <td><strong>NV kế toán:</strong> {$approvers[$rs[0]['approver']]['realname']}</td>
    <td align="right"><strong>Ngày NT: ${date("d/m/Y H:i:s",strtotime($rs[0]['approved']))}</strong></td><td align="right"><strong>Mã NT:</strong> <strong>{$rs[0]['in_id']}</strong></td>
    
  </tr>
</table>
</div>

<div align="left" style="padding-top:10px; font-size:14px; font-family:Arial, Helvetica, sans-serif">
<table width="100%" border="1" style="border-collapse:collapse; font-size:14px; font-family:Arial, Helvetica, sans-serif" cellspacing="0" cellpadding="0">
 <tr><td width="2%"><strong>STT</strong></td>
 <td align="left" style="padding:3px"><strong>Deal</strong></td>
 <td align="left" valign="top" style="padding:3px; font-size:14px; font-family:Arial, Helvetica, sans-serif"><strong>SL bàn giao</strong></td>
 <td align="left" valign="top" style="padding:3px; font-size:14px; font-family:Arial, Helvetica, sans-serif"><strong>Giao TC</strong></td>
 <td align="left" valign="top" style="padding:3px; font-size:14px; font-family:Arial, Helvetica, sans-serif" width="100" nowrap="nowrap"><strong>Thành tiền (VNĐ)</strong></td>
 <td align="left" valign="top" style="padding:3px; font-size:14px; font-family:Arial, Helvetica, sans-serif" width="100"><strong>Đã TT (VNĐ)</strong></td>
 <td align="left" valign="top" style="padding:3px; font-size:14px; font-family:Arial, Helvetica, sans-serif" width="100"><strong>C.Lại (VNĐ)</strong></td>
 <td align="left" valign="top" style="padding:3px; font-size:14px; font-family:Arial, Helvetica, sans-serif"><strong>Phiếu phải trả</strong></td>
 </tr>
 
 
 <!--{loop $rs $index $one}-->
 
    <tr ${$index%2?'':'class="alt"'} id="order-list-id-{$one['id']}">
        <td align="center">${$index+1}</td>
        <td style="padding:5px; font-size:14px; font-family:Arial, Helvetica, sans-serif" nowrap="nowrap"><strong>({$one['deal_id']}) </strong>{$teams[$one['deal_id']]['short_title']} - 
     <!--${
     	$partner = Table::Fetch('partner', $teams[$one['deal_id']]['partner_id']);
        $sum_qty += $one['quantity'];
        if($one['pays']>0) $sum_amt += $one['price']*$one['pays'];
        $sum_pays += $one['pays'];
        $sum_pendings += $one['pendings'];
       
        $sum_credit = DB::GetQueryResult("SELECT sum(credit) as sum_credit FROM `order` WHERE id IN ($list_order_id) AND team_id='".$one['deal_id']."'");
        $sum_paid_credit = $sum_credit['sum_credit'];
        if($one['pays']>0){
       		$total_paid_credit += $sum_paid_credit;
        }
        
        $sum_money = DB::GetQueryResult("SELECT sum(money) as sum_money FROM `order` WHERE id IN ($list_order_id) AND team_id='".$one['deal_id']."'");
        $sum_paid = $sum_money['sum_money'];
        $dtt = ($sum_paid+$sum_paid_credit);
        if($one['pays']>0){
	        $total_paid += $sum_paid;
        }
        if($one['pays']>0){
       		$sum_cl += ($one['price']*$one['pays']-($sum_paid+$sum_paid_credit));
        }else{
        	$sum_cl += ($one['price']*$one['pays']);
        }
        $total_dtt = $total_paid+$total_paid_credit;
     }-->
     <b>${cut_string($partner['title'],40,"...")}</b></td>     
        <td style="padding:5px; font-size:14px; font-family:Arial, Helvetica, sans-serif" align="right">{$one['quantity']}</td>
        <td style="padding:5px; font-size:14px; font-family:Arial, Helvetica, sans-serif" align="right">{$one['pays']}</td>
        <td style="padding:5px; font-size:14px; font-family:Arial, Helvetica, sans-serif;font-weight:bold" align="right"><!--{if $one['pays']>0}-->${print_price(moneyit($one['price']*$one['pays']))}<!--{else}-->0<!--{/if}--></td>
        <td style="padding:5px; font-size:14px; font-family:Arial, Helvetica, sans-serif" align="right"><!--{if $one['pays']>0}-->${print_price(moneyit($dtt))}<!--{else}-->0<!--{/if}--></td>
        <td style="padding:5px; font-size:14px; font-family:Arial, Helvetica, sans-serif" align="right"><!--{if ($one['price']*$one['pays']-($sum_paid+$sum_paid_credit))>=0}-->${print_price(moneyit($one['price']*$one['pays']-($sum_paid+$sum_paid_credit)))}<!--{else}-->0<!--{/if}--></td>
        <td style="padding:5px; font-size:14px; font-family:Arial, Helvetica, sans-serif" align="right">{$one['pendings']}</td>
    </tr>
   
    <!--{/loop}-->
 

  <tr><td></td>
  <td align="left" valign="top" style="padding:3px; font-size:14px; font-family:Arial, Helvetica, sans-serif"><strong>Tổng cộng</strong></td>
  <td align="right" valign="top" style="padding:3px; font-size:14px; font-family:Arial, Helvetica, sans-serif"><strong>{$sum_qty}</strong></td>
  <td align="right" valign="top" style="padding:3px; font-size:14px; font-family:Arial, Helvetica, sans-serif"><strong>{$sum_pays}</strong></td>
  <td align="right" valign="top" style="padding:3px; font-size:14px; font-family:Arial, Helvetica, sans-serif"><strong>${number_format($sum_amt,0,",",".")}</strong></td>
  <td style="padding:5px; font-size:14px; font-family:Arial, Helvetica, sans-serif" align="right"><strong>${number_format($total_dtt,0,",",".")}</strong></td>
  <td style="padding:5px; font-size:14px; font-family:Arial, Helvetica, sans-serif" align="right"><strong>${number_format($sum_cl,0,",",".")}</strong></td>
  <td align="right" valign="top" style="padding:3px; font-size:14px; font-family:Arial, Helvetica, sans-serif"><strong>{$sum_pendings}</strong></td>
  </tr>
  </table>
  
<div align="right" style="padding-bottom:5px; padding-top:5px; font-size:12px; font-family:Arial, Helvetica, sans-serif">ĐH giao thành công: <!--${$TOPay = DB::GetQueryResult("SELECT count(*) as total_order_pay FROM `ship_out_data` WHERE out_id='".$rs[0]['out_id']."' AND state='pay'");}--><strong>{$TOPay['total_order_pay']}</strong></div>
  
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size:12px;">
      <tr>
       <td align="center" valign="top" width="30%">NV Sales Online<br />(Ký, ghi rõ họ tên)<br /><br />
         <br />
        <strong>{$updaters[$rs[0]['updater']]['realname']}</strong></td>
        <td>&nbsp;</td>
        <td align="center" valign="top" width="30%">NV giao hàng<br />(Ký, ghi rõ họ tên)<br /><br />
          <br />
        <strong>{$shippers[$rs[0]['shipper']]['shipper_name']}</strong></td>
        <td>&nbsp;</td>
        <td align="center" valign="top" width="30%">NV kiểm phiếu<br />(Ký, ghi rõ họ tên)</td>
        <td>&nbsp;</td>
        <td align="center" valign="top" width="30%">NV kế toán<br />(Ký, ghi rõ họ tên)</td>
      </tr>
    </table>
</div>
</body>
</html>