<!--{include wap_header}-->
<h2>My order</h2>
<p>paid&nbsp;|&nbsp;<a href="myorder.php?s=unpay">to be paid</a>&nbsp;|&nbsp;<a href="myorder.php?s=expire">expired</a></p>

<!--{loop $orders $index $one}-->
<table id="order-list" style="margin:5px 0;" cellspacing="1" cellpadding="2" border="0" bgcolor="#999999" width="100%">
	<tr><td bgcolor="#CCCCCC" width="60" nowrap>date：</td><td bgcolor="#FFFFFF">${date('Y-m-d H:i', $one['create_time'])}</td></tr>
	<tr><td bgcolor="#CCCCCC">deal：</td><td bgcolor="#FFFFFF"><a class="deal-title" href="team.php?id={$one['team_id']}" target="_blank">{$teams[$one['team_id']]['title']}</a></td></tr>
	<tr><td bgcolor="#CCCCCC">amount：</td><td bgcolor="#FFFFFF">{$currency}${moneyit($one['origin'])}</td></tr>
	<tr><td bgcolor="#CCCCCC">detail：</td><td bgcolor="#FFFFFF"><a href="order.php?id={$one['id']}">detail</a></td>
</table>
<!--{/loop}-->

<table><td>{$pagestring}</td></tr></table>

<!--{include wap_footer}-->
