<!--{include group/giare_header}-->

<div id="bdw" class="bdw">
  <div id="bd" class="cf"> 
   
    <div id="topwrapper" >
    <div align="left" style="background-color:#EE840c;"><table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr bgcolor="#FFFFFF">
          <td align="left" valign="top" nowrap="nowrap"><div class="dashboard" id="dashboard">
              <ul style="white-space:nowrap">
                ${current_frontend()}
              </ul>
            </div>
            </td>
        </tr>
       
      </table></div>
    </div>
    <div id="recent-deals">
      <div id="content" class="mainwide">
        <div class="box clear">
          <div class="subbox-content">
            <div style="background-color:#FFFFFF;min-height:450px;_height:450px">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                 <tr>
            <td align="left" valign="top" colspan="2"><div class="slider-wrapper theme-default">
                <div class="ribbon"></div>
                <div id="slider" class="nivoSlider"><a href="/static/promotion/GoogleNexus7/?utm_campaign=PromotionGoogleNexus7&amp;utm_medium=email&amp;utm_source=homebanner&amp;utm_content=deal" target="_blank"><img src="/static/banner/Banner_Google_Nexus7.jpg" width="983" height="100" /></a></div>
              </div></td>
          </tr><tr><td align="left" valign="top" style="padding-top:10px; padding-left:10px; padding-right:10px"><h1><strong>Giá rẻ hơn những gì bạn nghĩ tại Dealsoc.vn.</strong></h1>
Giá rẻ nhưng tốt. Giá rẻ là một trong những vấn đề chúng ta quan tâm khi mua sắm. Để mua được các deal, voucher giá rẻ và tốt, bạn sẽ cần tìm kiếm và cân nhắc. Dealsoc.vn tự hào mang đến cho bạn các deal, voucher khuyến mãi giá rẻ, để cùng nhóm mua chung những hot deal giá cực rẻ. Bởi vì vấn đề giá rẻ là một trong các tiêu chí của Dealsoc, nên bạn sẽ hoàn toàn yên tâm khi mua sắm tại Dealsoc.vn. Đến với Dealsoc.vn là bạn được chọn lựa những sản phẩm chất lượng, phù hợp nhu cầu và có giá rẻ và tốt. Ngoài ra chúng tôi có chính sách trả hàng tiện lợi và bạn sẽ hoàn toàn yên tâm khi bạn đặt niềm tin vào Dealsoc.vn!</td></tr><tr>
                  <td align="left" valign="top" style="padding-left:6px; padding-top:6px;">   <!--{loop $teams $index $one}-->
                      <!--${
                      	$left = array();
                        $now = time();
                        if($one['end_time']<$one['begin_time']){$one['end_time']=$one['begin_time'];}
                        
                       $diff_time = $left_time = $one['end_time']-$now;
                        if ( $one['team_type'] == 'seconds' && $one['begin_time'] >= $now ) {
                            $diff_time = $left_time = $one['begin_time']-$now;
                        }
                        
                        $left_day = floor($diff_time/86400);
                        $left_time = $left_time % 86400;
                        $left_hour = floor($left_time/3600);
                        $left_time = $left_time % 3600;
                        $left_minute = floor($left_time/60);
                        $left_time = $left_time % 60;
                        if($index%2==0)
                        {
                            $p[0] = 'deal ' . $index . ': cùng mua chung nhóm mua hot deal!'; 
                            $p[1] = 'deal ' . $index . ': khuyen mai gia re!'; 
                            $p[2] = 'deal ' . $index . ': san pham dich vu an uong du lich!';  
                            $w = $p[rand(0,2)];   
                        }else{
                        	$w = NULL;
                        }                           
                      }-->
                      <div class="three_up ${($index+1)%3==0?'last':''}">
                        <div class="csbox" onclick="window.location.href='/{$city['slug']}/${seo_url($one['short_title'],$one['id'],$url_suffix)}'" style="cursor:pointer">
                        <div align="left"> <a href="/{$city['slug']}/${seo_url($one['short_title'],$one['id'],$url_suffix)}" title="{$one['title']}" style="color:#1f95c5; font-family:Arial; font-size:15px"> <strong>${cut_string($one['short_title'],40,"...")}</strong></a></div>                 
                          	<div class="image trackable">
                                <div class="inner"><a href="/{$city['slug']}/${seo_url($one['short_title'],$one['id'],$url_suffix)}" title="{$one['title']}"><img alt="cùng mua chung theo nhóm mua hot deal khuyen mai - {$one['short_title']}" src="${team_image($one['image'],false)}" /></a></div>
                                <div class="index_tooltip">  
                                     <!--${
                                                                            if(in_array($ip,$ip_arr)){
                                            $now_number = RandomBuy($one['now_number'],$one['virtual_buy']);
                                        }else{
                                            $now_number = $one['now_number'];
                                        }
                                  }--><span>                                   
                                    <!--{if $one['delivery_properties']==1 || ($city['id']==556 && $one['group_id']!=23)}-->
                                        <img src="/static/img/icon_product.png" width="30" height="30" align="middle" alt="Dealsoc giao sản phẩm tận nơi" />Giao sản phẩm<!--{else}--><img src="/static/img/icon_voucher.png" width="30" height="30" align="middle" alt="Dealsoc giao voucher tận nơi" />Giao voucher<!--{/if}-->&nbsp;&nbsp;&nbsp;<strong style="color:#3399ff; font-size:130%;">{$now_number}</strong> người mua</span>
                                </div>
                            </div>
                          
                          <div align="left">
                            <table width="100%" border="0">
                              <tr>
                                <td align="center" valign="middle" style="padding-bottom:3px;" colspan="2"><strong class="old" style="font-size:170%; color:#c40000; white-space:nowrap">${print_price(moneyit($one['team_price']))}<sup style="font-size:60%; text-transform:none">{$currency}</sup></strong></td><td rowspan="2" align="right">
                                <div class="view-deal-button"><a class="button small trackable" title="{$one['short_title']}" 
    href="/{$city['slug']}/${seo_url($one['short_title'],$one['id'],$url_suffix)}">MUA</a></div></td></tr><tr>
                                <td align="center" valign="top" style="padding-right:10px"><div style="font-size:11px;">Tiết kiệm</div><div align="center"><strong class="old" style="font-size:110%; color:#000000">${ceil(moneyit((100*($one['market_price'] - $one['team_price'])/$one['market_price'])))}%</strong></div></td>
                                <td align="left" valign="top" style="border-left:#CCC 1px solid"><div style="font-size:11px;" align="center">Thời gian còn lại</div><div class="deal-timeleft deal-on" id="deal-timeleft-{$one['id']}" diff="{$diff_time}" style="margin:0px; padding:0px;"><ul id="counter-{$one['id']}" style="background:none; margin:0px; padding:0px;">
                            <li><span style="color:#000000; font-size:14px;">${$left_hour+(24*$left_day)}:{$left_minute}:{$left_time}</span><strong style="color:#EBEBEB; font-size:5px;">{$w}</strong></li>
                          </ul>
                        </div></td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </div>
                      <!--{/loop}-->
                    <div class="clear"></div>
                    
                    <!--{if $count>$home_side_ns}-->
                    
                    <div  style="padding:0;margin:0;float:right;margin-right:10px; margin-top:10px;text-align:center;z-index:99;">{$pagestring}</div>
                    
                    <!--{/if}--></td>
                </tr>
              </table>
              <div class="clear"></div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <!-- bd end --> 
</div>
<!-- bdw end -->
<script language="javascript" type="text/javascript">
	  var sec = {};
	  function getInitTime(){
		  $('div.deal-timeleft').each(function(){
			 var jobj = $(this);
			 var SysSecond = parseInt(jobj.attr('diff'));
			 var theid = parseInt((jobj.attr('id')).replace(/deal-timeleft-/,''));
			 sec[theid]= SysSecond;
		  });
	  }
	  getInitTime();
	  function SetRemainTime() {
			for(var i in sec){
				setRemainTimeSite(i,sec[i]);
			}
	   }
	  function setRemainTimeSite(theid,SysSecond){
		  if (SysSecond > 0) {
			   SysSecond = SysSecond - 1;
			   var second = Math.floor(SysSecond % 60).toString();
			   var minite = Math.floor((SysSecond / 60) % 60).toString();
			  /* var hour = Math.floor((SysSecond / 3600) % 24).toString();*/
			  var hour = Math.floor(SysSecond / 3600).toString();
			   var day = Math.floor((SysSecond / 3600) / 24).toString();
			   $("#counter-"+theid).html("<li><span style='color:#000000; font-size:14px;'>"+hour+":"+minite+":"+second+"</span></li>");
			   sec[theid]--;
		  }else{
			return;
		  }
		}
	  window.setInterval(SetRemainTime,1000);
	 	  
</script>
<!--{include footer}-->