<!--{include manage_header}-->

<div id="bdw" class="bdw">
  <div id="bd" class="cf">
    <div id="partner">
      <div class="subdashboard" id="dashboard">
        <ul>
          ${mcurrent_shipper('null')}
          <li class="current"><a href="/backend/logistics/province-city.php">Tỉnh - TP</a><span></span></li>
        </ul>
      </div>
      <div id="content" class="clear mainwide">
        <div class="clear box">
          <div class="subbox-top">
            <div class="subhead">
              <h2>Quản lý Tỉnh - Thành Phố</h2>
            </div>
          </div>
          <div class="box-content">
            <div class="sect" style="padding-top:3px;">
              <script language="javascript" type="text/javascript">
				function CheckAll(obj)
				{
					if(obj.checked) mycheck = true;
					else mycheck = false;
					for(i=1;i<document.frmcountrystate.countrystateid.length;i++)
					{
						obj=document.getElementById(document.frmcountrystate.countrystateid[i].value);
						obj.checked=mycheck;
					}
				}
				function GoDelete()
				{
					ischecked = false;
					for(i=1;i<document.frmcountrystate.countrystateid.length;i++)
					{
						obj=document.getElementById(document.frmcountrystate.countrystateid[i].value);
						if(obj.checked==true){
							ischecked=true;
							break;
						}
					}
					if(document.frmcountrystate.act.value=="") return false;
					if(!ischecked){
						alert("No items selected! At least one checkbox must be ticked off to perform this action.");
						return false;
					}else{
						if(confirm("Are you sure to delete these item ???")){
							if(confirm("All data of these item will be deleted...")){
								document.frmcountrystate.act.value="delete";
								document.frmcountrystate.dodelect.disabled=true;
								document.frmcountrystate.update.disabled=true;
								document.frmcountrystate.submit();
							}
						}
						return false;
					}
				}
				</script>
              <table class="adminlist" cellpadding="0" cellspacing="0">
                <form name="frmcountrystate" method="POST">
                  <input type="hidden" name="act" value="update">
                  <input type="hidden" name="countrystateid[0]" id="countrystateid" value="nothing">
                  <tr>
                    <th align="left" width="5%" nowrap="nowrap"> <input type="checkbox" name="checkall" id="checkall" value="ON" onClick="CheckAll(this)">Stt</th>
                    <th align="left" >Name</th>
                    <th align="left" width="7%" nowrap="nowrap">Country</th>
                    <th>States</th>
                    <th>&nbsp; </th>
                  </tr>
                  <!--{loop $str $index $one}-->
                  <!--${$bgcolor = (($index+1)%2)==0?"bgcolor=\"#f0f8ff\"":""; if($one['display']=='Y'){$status = 'checked';}else{$status='';}}-->
                  <tr  {$bgcolor}>
                    <td align="left" nowrap="nowrap"><input type="hidden" name="countrystateid[]" id="countrystateid" value="{$one['id']}">
                      <input id="{$one['id']}" type="checkbox" name="countrystate[{$one['id']}][id]" value="{$one['id']}">
                      <strong>${$index+1}</strong> </td>
                    <td align="left" ><input type="text" name="countrystate[{$one['id']}][name]" value="{$one['name']}" onChange="DoubleCheck({$one['id']})" class="f-input" require="true" datatype="require" size="60">
                    </td>
                    <td align="left" nowrap="nowrap"><select name="countrystate[{$one['id']}][country_code]" onChange="DoubleCheck({$one['id']})" class="f-input" require="true" datatype="require">
                        <option value="VN" selected>Việt Nam</option>
                      </select>
                    </td>
                    <td nowrap="nowrap" align="left"  ><input type="checkbox" name="countrystate[{$one['id']}][active]" value="Y" {$status} onChange="DoubleCheck({$one['id']})"></td>
                    <td>
                    <!--${
                        $dist = DB::GetQueryResult("SELECT COUNT(*) as total_dist FROM countries_district WHERE state_id=".$one['id']);
                    }-->
                    <!--{if(!empty($dist))}-->
                        	<a href="/backend/logistics/district.php?search[country_code]=VN&search[state_id]={$one['id']}" class="propath"><strong>Xem <font color="#000000" style="font-size:13px;font-family:Arial">{$dist['total_dist']}</font> quận - huyện thuộc<font color="#000000" style="font-size:13px;font-family:Arial"> {$one['name']}</font></strong></a>
                   <!--{/if}--></td>
                  </tr>
                  <!--{/loop}-->
                  <tr>
                    <th colspan="8" valign="top">{$pagestring}</th>
                  </tr>
                  <tr>
                    <td></td>
                    <td colspan="7" align="left"><input type="submit" value="Cập nhật" name="update" class="formbutton" >
                      &nbsp;
                      <input type="button" value="Xóa" name="dodelect" onClick="GoDelete()" class="formbutton" >
                    </td>
                  </tr>
                </form>
                <form name="frmnew" method="POST">
                  <input type="hidden" name="act" value="add">
                  <tr height="40" valign="bottom" >
                    <td width="20" align="center">&nbsp;</td>
                    <td align="left"><input name="countrystate[name]" type="text"  class="f-input" require="true" datatype="require" size="60" id="countrystate[name]"></td>
                    <td width="100" align="left" nowrap="nowrap"><select name="countrystate[country_code]" class="f-input" require="true" datatype="require">
                        <option value="VN" selected>Việt Nam</option></select></td>
                    <td align="left"><input type="checkbox" name="countrystate[active]" value="Y"></td>
                    <td><input type="submit" value="Thêm mới" name="insert" class="formbutton"></td>
                  </tr>
                </form>
              </table>
            </div>
          </div>
        </div>
        <div class="box-bottom"></div>
      </div>
    </div>
    <div id="sidebar"> </div>
  </div>
</div>
<!-- bd end -->
</div>
<!-- bdw end -->
<!--{include manage_footer}-->
